.container {
  padding: 0 50px 16px;
  margin: 0 auto;
  background: rgba(248, 247, 250, 1);
}

.buttonBack {
  margin-top: 40px;
  background: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-left: 15px;
  font-size: 24px;
  column-gap: 23px;
  color: #1c1817;
  img {
    width: 10px;
    transition: 0.25s ease-in-out;
  }
  &:hover {
    img {
      transform: translateX(-5px);
    }
  }
}

.content {
  display: flex;
  column-gap: 40px;
  margin-top: 57px;
}

.productList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  li:not(:last-child) {
    margin-bottom: 16px;
  }
}

.info {
  width: 100%;
  height: fit-content;
  max-width: 305px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  padding: 17px 22px 17px 23px;

  p,
  h3 {
    display: flex;
    justify-content: space-between;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }
  .orderBtnWrap {
    a {
      display: block;
      margin-top: 42px;
      padding: 16px 24px;
      text-align: center;
      color: var(--white-color);
      background-color: var(--green-color);
      border: none;
      border-radius: 12px;
      cursor: pointer;
      width: 100%;
      line-height: 24px;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #4da856;
      }
      &:active {
        background-color: #00680a;
      }
    }
  }
}

@media (max-width: 1250px) {
  .container {
    padding: 0 20px 16px 20px;
  }
}

@media (max-width: 1200px) {
  .info {
    max-width: unset;
  }
  .content {
    flex-direction: column;
    row-gap: 16px;
    margin-top: 25px;
  }
  .buttonBack {
    margin-top: 20px;
  }
  .info {
    .orderBtnWrap {
      display: flex;
      justify-content: center;
      a {
        width: 40%;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }
  .buttonBack {
    display: none;
  }
  .content {
    margin-top: unset;
  }
  .info {
    .orderBtnWrap {
      display: flex;
      justify-content: center;
      a {
        width: 60%;
      }
    }
  }
}
@media (max-width: 700px) {
  .info {
    .orderBtnWrap {
      a {
        width: 70%;
      }
    }
  }
}
@media (max-width: 600px) {
  .info {
    .orderBtnWrap {
      a {
        width: 80%;
      }
    }
  }
}
@media (max-width: 500px) {
  .info {
    .orderBtnWrap {
      a {
        width: 90%;
      }
    }
  }
}
@media (max-width: 400px) {
  .info {
    .orderBtnWrap {
      a {
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .info {
    border-radius: 8px;
    h3 {
      position: relative;
      &:after {
        content: '';
        width: 100%;
        background: #eae4ee;
        height: 1px;
        position: absolute;
        bottom: -10px;
      }
    }
    button {
      margin-top: 24px;
    }
  }
}
