.main-content {
  flex-grow: 1;
  margin: 0px auto;
  max-width: 1540px;
  width: 100%;
}
.isFixedHeader {
  padding-top: 80px;
}

@media (max-width: 768px) {
  .isFixedHeader {
    padding-top: 64px;
  }
}
// .basket-modal__mobile {
//   align-items: flex-end;
// }
