.main-content {
  flex-grow: 1;
  margin: 0px auto;
  max-width: 1540px;
  width: 100%;
}
.isFixedHeader {
  padding-top: 90px;
}
// .basket-modal__mobile {
//   align-items: flex-end;
// }
