@import '@/styles/functions';

.container {
  margin: 88px 0;
  padding: 0 50px;
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
}
.nothingEntered {
  width: 100%;
  text-align: center;
}
.nothingFound {
  margin: 0 auto;
  width: 100%;
  color: #1c1817;
  text-align: center;

  > p {
    font-size: rem(42px);
    font-weight: 500;
    line-height: 150%;
    word-wrap: break-word;
  }
  > span {
    display: inline-block;
    max-width: 482px;
    width: 100%;
    margin: 0 auto;
    line-height: 150%;
  }
}
