.main-page-container {
  padding: 0 50px;
}
.section-container {
  margin-top: 48px;
}
.default-carousel-container {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}
.brands-carousel-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.arrow-container {
  margin-top: 24px;
  text-align: end;
}
