.pageLayout {
  min-width: 320px;
  background-color: var(--bg-color) !important;

  &_mobile {
    display: block;

    @media screen and (min-width: 680px) {
      display: none;
    }
  }

  &_tablet {
    display: none;

    @media screen and (min-width: 680px) {
      display: block;
    }

    @media screen and (min-width: 1180px) {
      display: none;
    }
  }

  &_desk {
    display: none;

    @media screen and (min-width: 1180px) {
      display: block;
    }
  }

  &__container {
    padding: 0 0px !important;
  }

  &__header {
    margin-top: 48px;
    padding: 0 50px;
    border-radius: 20px;
    background: var(--secondary-background-color);

    @media (width <= 1470px) {
      border-radius: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding: 28px 0px 20px 0px;

    @media screen and (min-width: 680px) {
      padding: 16px 0;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1070px) {
      padding: 16px 0;
      margin-bottom: 38px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: var(--text-color);
    text-transform: capitalize;

    @media screen and (min-width: 680px) {
      font-size: 36px;
    }

    @media screen and (min-width: 980px) {
      font-size: 40px;
    }

    @media screen and (min-width: 1070px) {
      font-size: 42px;
    }
  }

  &__content {
    display: flex;
    column-gap: 24px;

    @media screen and (max-width: 980px) {
      flex-direction: column;
    }
  }
}
