.formInput {
  width: 100%;

  &__label {
    position: absolute;
    top: -9px;
    left: 19px;
    display: none;
    opacity: 0;
    padding: 0 3px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--text-color);
    background-color: var(--bg-color);
    z-index: 5;
    transition: all 0.3s ease;
  }

  &__input {
    width: 100%;
    position: relative;

    input,
    textarea {
      display: block;
      width: 100%;
      padding: 16px;
      border-radius: 12px;
      border: 1px solid var(--secondary-text-color);
      outline: none;
      background-color: transparent;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--text-color);

      &:active,
      &:focus,
      &:focus-visible {
        border: 1px solid var(--secondary-text-color);
        outline: none;
        box-shadow: none;
        background-color: transparent;
      }

      &::placeholder {
        color: var(--secondary-text-color);
        opacity: 1;
        transition: opacity 0.3s ease;
      }

      &:focus::placeholder {
        opacity: 0;
      }
    }

    input:focus + .formInput__label {
      display: block;
      opacity: 1;
    }

    textarea:focus + .formInput__label {
      display: block;
      opacity: 1;
    }

    textarea {
      min-height: 126px;
      resize: none;
    }

    input:focus + .formInput__error {
      display: none;
    }

    :global {
      .ant-input-outlined:hover {
        border-color: var(--secondary-text-color);
        outline: none;
        background-color: transparent;
      }
    }
  }

  &__error {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 9px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--error-color);
    transition: all 0.3s ease;
  }
}
