.formInput {
  width: 100%;

  &__label {
    position: absolute;
    top: -9px;
    left: 19px;
    display: none;
    opacity: 0;
    padding: 0 3px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--text-color);
    background-color: var(--bg-color);
    z-index: 5;
    transition: all 0.3s ease;
  }

  &__counter {
    position: absolute;
    bottom: 8px;
    right: 12px;
    color: var(--secondary-text-color);
    pointer-events: none;
    z-index: 1;
    line-height: 150%;
    transition: color 0.3s ease;
    
    &Error {
      color: var(--error-color);
    }
  }

  &__textareaWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &__input {
    width: 100%;
    position: relative;

    &:focus-within .formInput__label {
      display: block;
      opacity: 1;
    }

    &:focus-within .formInput__error {
      display: none;
    }

    input,
    textarea,
    &Password {
      width: 100%;
      padding: 16px;
      border-radius: 12px;
      border: 1px solid var(--text-color);
      outline: none;
      background-color: transparent;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--text-color);

      &:active,
      &:focus,
      &:focus-visible {
        border: 1px solid var(--text-color);
        outline: none;
        box-shadow: none;
        background-color: transparent;
      }

      &::placeholder {
        color: var(--secondary-text-color);
        opacity: 1;
        transition: opacity 0.3s ease;
      }

      &:focus::placeholder {
        opacity: 0;
      }
    }

    textarea {
      min-height: 126px;
      resize: none;
      padding-bottom: 30px; 
    }

    :global {
      .ant-input-password {
        border-color: var(--text-color);
        outline: none;
        box-shadow: none;

        input {
          border: none;
          outline: none;
        }

        &.error {
          background: var(--white-color);
          border-width: 1px;
          border-style: solid;
          border-color: var(--error-color);

          &:hover {
            border-color: var(--error-color);
          }
        }

        .ant-input-status-error {
          border-color: var(--error-color);
        }
      }
      .ant-input-outlined {
        &:hover {
          border-color: var(--text-color);
          outline: none;
          background-color: transparent;
        }

        &.ant-input-status-error:hover {
          border-color: var(--error-color);
        }
      }
    }
  }

  &__passwordStrength {
    margin-top: 6px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: var(--secondary-text-color);
    transition: all 0.3s ease;

    &_weak {
      color: red;
    }

    &_medium {
      color: orange;
    }

    &_strong {
      color: yellowgreen;
    }

    &_veryStrong {
      color: green;
    }
  }

  &__error {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 9px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--error-color);
    transition: all 0.3s ease;
  }
}

.phoneInput {
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--text-color);
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;

  &__prefix {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 8px 16px 16px;
    background-color: var(--theme-color);
    border-radius: 10px 0 0 10px;
  }

  &__flag {
    width: 32px;
    height: 24px;
  }

  &__code {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white-color);
  }

  input {
    border: none;
    padding: 16px 16px 16px 8px;

    &:active,
    &:focus,
    &:focus-visible {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
    }
  }
}