.swiper-button{
  width: 48px;
  height: 48px;
  flex: 0 0 auto;
 
}
.arrowRight {
  transform: rotate(180deg);
  
}

.base__slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00820D;
  width: 32px;
  height: 32px;
  
  & svg {
    width: auto;
    height: auto;
  }

}


