@import '@/styles//functions';

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 42px;
  background-color: #ffffff;
  border: none;
  border: 1px solid #eae4ee;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #4da856;
    > svg path {
      stroke: #fff;
    }
  }

  &:active {
    background-color: #00680a;
  }

  > div {
    position: absolute;
    bottom: 3px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: #6f4c9a;
    border-radius: 50%;
    > span {
      font-size: rem(10px);
      color: #fff;
      line-height: 8px;
    }
  }
}

.headerButton svg {
  path {
    stroke: #000;
    stroke-width: 1px;
  }
}
.headerButton:first-child svg {
  path {
    stroke: #000;
    stroke-width: 1.5px;
  }
}
.headerButton:nth-child(2) svg {
  path {
    stroke: #000;
    stroke-width: 0.5px;
  }
}

.headerButton:last-child svg {
  width: 34px;
  height: 34px;
}

.navBtn {
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 42px;
    background-color: #ffffff;
    border: none;
    border: 1px solid #eae4ee;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    position: relative;

    &:hover {
      background-color: #4da856;
      > svg path {
        stroke: #fff;
      }
    }

    &:active {
      background-color: #00680a;
    }

    &Avatar {
      font-family: "Inter", sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 150%;
      color: var(--text-color);
    }
  }
}
