.headerButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45;
  height: 45px;
  padding: 12px;
  background-color: var(--white-color);
  border: none;
  border: 1px solid var(--carousel-theme-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    background-color: var(--green-color);
    transition: all ease 0.3s;
  }

  &:active {
    background-color: var(--green-active-color);
  }
}
