.changePassword {
  padding: 70px 0 164px 0;

  form {
    width: 512px;
    padding: 68px;
    margin: 0 auto;
    border: 1px solid var(--secondary-background-color);
    border-radius: 20px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    background: var(--white-color);
  }
}
