.sliderText {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  max-width: 1540px;
  margin: 48px auto 24px auto;
  padding: 0 50px;
}

.sliderText h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 150%;
}

span {
  text-decoration: none;
}

.buttonLink {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  height: 24px;
  margin-top: 4px;
  color: var(--green-color);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  word-spacing: 0.2px;
  border-bottom: 2px solid #00820d;
  &:active {
    color: #6f4c9a;
    border-bottom: 2px solid #6f4c9a;
    svg path {
      fill: #6f4c9a;
    }
  }
}

.buttonHr {
  width: 100%;
  margin: 0;
  border: 0.5px solid #00820d;
}

.buttonHrActive {
  border: 0.5px solid #6f4c9a;
}

@media screen and (max-width: 1250px) {
  .sliderText {
    padding: 0 20px;
  }
}

@media (width <= 1024px) {
  /* For screens smaller than 1024px */
  .sliderText {
    margin: 36px auto 18px auto;
    h2 {
      font-size: 30px;
    }
    .buttonLink {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 768px) {
  .sliderText {
    justify-content: space-between;
    margin: 24px auto 21px auto;

    h2 {
      font-size: 24px;
    }
  }

  .buttonLink {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .sliderText {
    padding: 0 16px;
    h2 {
      font-size: 24px;
    }
  }

  .sliderText .buttonLink {
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  .sliderText {
    h2 {
      font-size: 18px;
    }
    .buttonContent {
      border-bottom-width: 1.5px;
    }
  }

  .sliderText .buttonLink {
    font-size: 12px;
    > img {
      width: 20px;
      height: 21px;
    }
  }
}
