.order {
  padding: 48px 0 150px;

  @media screen and (width <= 1400px) {
    padding: 38px 0 80px;
  }

  @media screen and (width <= 680px) {
    padding: 18px 0 24px;
  }

  &__title {
    margin-bottom: 32px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 42px;
    font-family: Inter, sans-serif;
    line-height: 150%;

    @media screen and (width <= 1400px) {
      font-size: 32px;
    }

    @media screen and (width <= 680px) {
      margin-bottom: 24px;
      font-size: 24px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 155px;

    @media screen and (width <= 1280px) {
      flex-direction: column;
      gap: 48px;
    }

    @media screen and (width <= 680px) {
      gap: 24px;
    }
  }

  &__forms {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (width <= 680px) {
      padding: 0 0 24px;
      border-bottom: 1px solid var(--secondary-background-color);
    }
  }

  &__items {
    flex: 1 0 535px;

    @media screen and (width <= 680px) {
      flex-basis: auto;
    }

    &Title {
      display: none;
      margin-bottom: 16px;
      color: var(--text-color);
      font-weight: 500;
      font-size: 16px;
      font-family: Inter, sans-serif;
      line-height: 150%;

      @media screen and (width <= 680px) {
        display: block;
      }
    }

    &List {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 24px;

      @media screen and (width <= 680px) {
        margin-bottom: 16px;
      }
    }
  }

  &__item {
    padding: 24px;
    background-color: var(--white-color);
    border-radius: 20px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);

    @media screen and (width <= 680px) {
      padding: 12px;
      border: 1px solid var(--secondary-background-color);
      border-radius: 8px;
    }

    &Wrapper {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;

      @media (width <= 680px) {
        display: none;
      }

      &_mobile {
        display: none;
        flex-direction: column;
        align-items: start;
        gap: 0;
        width: 100%;

        @media (width <= 680px) {
          display: flex;
        }
      }
    }

    &Image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      img {
        object-fit: contain;
        object-position: center;
        height: 100px;
      }

      @media (width <= 820px) {
        width: 80px;
        height: 84px;

        img {
          width: 80px;
          height: 84px;
        }
      }

      @media (width <= 680px) {
        width: 56px;
        height: 62px;

        img {
          width: 56px;
          height: 62px;
        }
      }
    }

    &Info {
      flex: 1 0 0;

      @media (width <= 680px) {
        display: flex;
        flex-basis: auto;
        align-items: center;
        gap: 8px;
        width: 100%;
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--secondary-background-color);
      }
    }

    &Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;

      @media (width <= 680px) {
        align-items: center;
        margin-bottom: 4px;
      }
    }

    &Title {
      color: var(--text-color);
      font-weight: 400;
      font-size: 16px;
      font-family: Inter, sans-serif;
      line-height: 150%;
    }

    &Delete {
      outline: none;

      &::before {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url('../../assets/icons/delete.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border: none;
        outline: none;
        transition: all 0.3s ease-in-out;
        content: '';

        @media screen and (width <= 680px) {
          width: 44px;
          height: 44px;
          background-image: url('../../assets/icons/delete-mobile.svg');
        }
      }

      &:hover,
      &:focus,
      &:focus-visible {
        &::before {
          background-image: url('../../assets/icons/delete-hover.svg');

          @media screen and (width <= 680px) {
            background-image: url('../../assets/icons/delete-mobile.svg');
          }
        }
      }
    }

    &Code {
      margin-bottom: 16px;
      color: var(--secondary-text-color);
      font-weight: 400;
      font-size: 14px;
      font-family: Inter, sans-serif;
      line-height: 150%;

      @media (width <= 680px) {
        margin-bottom: 0;
        font-weight: 300;
        font-size: 12px;
      }
    }

    &Footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &Quantity {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (width <= 680px) {
        gap: 10px;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &Button {
        &_minus {
          &::before {
            display: inline-block;
            width: 19px;
            height: 19px;
            background-image: url('../../assets/icons/button-minus.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            border: none;
            outline: none;
            transition: all 0.3s ease-in-out;
            content: '';

            @media (width <= 980px) {
              width: 24px;
              height: 24px;
            }

            @media (width <= 680px) {
              width: 30px;
              height: 30px;
            }
          }

          &:hover,
          &:focus,
          &:focus-visible {
            &::before {
              background-image: url('../../assets/icons/button-minus-hover.svg');
            }
          }
        }

        &_plus {
          &::before {
            display: inline-block;
            width: 19px;
            height: 19px;
            background-image: url('../../assets/icons/button-plus.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            border: none;
            outline: none;
            transition: all 0.3s ease-in-out;
            content: '';

            @media (width <= 980px) {
              width: 24px;
              height: 24px;
            }

            @media (width <= 680px) {
              width: 30px;
              height: 30px;
            }
          }

          &:hover,
          &:focus,
          &:focus-visible {
            &::before {
              background-image: url('../../assets/icons/button-plus-hover.svg');
            }
          }
        }
      }

      p {
        position: relative;
        width: 16px;
        color: var(--text-color);
        font-weight: 400;
        font-size: 16px;
        font-family: Inter, sans-serif;
        line-height: 150%;
        text-align: center;
      }

      &Btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
      }

      &BtnFavorite {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        padding: 7px;
        border: 1px solid var(--secondary-background-color);
        border-radius: 8px;

        span {
          width: 36px;
          height: 36px;
        }
      }
    }

    &Price {
      color: var(--text-color);
      font-weight: 400;
      font-size: 16px;
      font-family: Inter, sans-serif;
      line-height: 150%;
    }

    &Content {
      width: 100%;
    }

    &Buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      width: 100%;
      padding: 12px 0 0;
    }
  }

  &__total {
    width: 100%;
    padding: 24px;
    background-color: var(--white-color);
    border-radius: 20px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);

    &Wrapper {
      align-items: center;
      margin-bottom: 8px;
      color: var(--text-color);
      font-weight: 400;
      font-size: 16px;
      font-family: Inter, sans-serif;
      line-height: 150%;

      p {
        display: flex;
        justify-content: space-between;
      }

      &InTotal {
        font-weight: 500;
        font-size: 24px;

        @media (width <= 680px) {
          margin-bottom: 12px;
          padding-bottom: 12px;
          border-bottom: 1px solid var(--secondary-background-color);
        }
      }
    }
  }

  &__agreement {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    cursor: pointer;

    &Input {
      position: absolute;
      opacity: 0;
    }

    &Icon {
      margin-right: 11px;

      @media (width <= 680px) {
        margin-right: 12px;
      }
    }

    &Input + &Icon::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border: 1.5px solid var(--text-color);
      border-radius: 4px;
      content: '';
    }

    &Input:checked + &Icon::before {
      background-image: url('../../assets/icons/checked.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      border-color: transparent;
      animation: check 180ms ease-in;
    }

    &Input:focus + &Icon::before {
      outline: 1.5px;
    }

    &Text {
      color: var(--secondary-text-color);
      font-weight: 400;
      font-size: 16px;
      font-family: Inter, sans-serif;
      line-height: 150%;

      @media (width <= 680px) {
        font-weight: 300;
        font-size: 12px;
      }
    }

    @keyframes check {
      0% {
        transform: scale(0);
      }

      90% {
        transform: scale(1.4);
      }

      100% {
        transform: scale(1);
      }
    }
  }
}
