.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: -5000px;
  z-index: 1500;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}

.opened {
  top: 0 !important;
  bottom: 0;
}

.content {
  position: relative;
  width: 80%;
  height: 80%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
}

.close {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 16px;
  right: 16px;
  color: #333333;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition:
    color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    color: #ff5a5a;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ff5a5a;
  }
}

.basket-modal {
  background: rgba(28, 24, 23, 0.7);

  .content {
    padding: 0;
    height: auto;
  }
  .close {
    display: none;
  }
}

.authModal,
.authRequiredModal {
  background: rgba(28, 24, 23, 0.7);
  backdrop-filter: none;

  .content {
    max-width: 452px;
    height: auto;
    border-radius: 20px;
    padding: 48px;
  }
}
.authRequiredModal {
  .content {
    max-width: 533px;
    padding: 68px;
  }
}

@media screen and (min-width: 1540px) {
  .basket-modal {
    .content {
      max-width: 1240px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .basket-modal {
    .content {
      width: 90%;
    }
  }
}
@media screen and (max-width: 768px) {
  .basket-modal {
    align-items: flex-end;
    .content {
      max-height: calc(100dvh - 50px);
      max-width: 100%;
      width: 100%;
      height: auto;
      border-radius: 24px 24px 0 0;
    }
  }
}
@media screen and (max-width: 600px) {
  .authRequiredModal {
    .content {
      padding: 68px 28px 28px;
    }
  }
}
