@import url('./variables.css');
@import url('./normalise.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './functions';

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  color: var(--text-color);
  font-family: Inter, sans-serif;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-card .ant-card-body {
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

:root {
  --main-color: #5a40f0;
  --border-color: rgba(57, 98, 232, 0.1);
}



button {
	padding         : 0;
	margin          : 0;
	background-color: transparent;
	border          : none;
	cursor          : pointer;
}

a {
	text-decoration: none;
	color          : inherit;
}

ul,
ol {
	margin    : 0;
	padding   : 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
p,
fieldset {
	margin : 0;
	padding: 0;
}

img {
	max-width: 100%;
	height   : auto;
}

.reviews_rate-stars > li,
.product_rate-stars > li {
  margin-inline-end: 0 !important;
}

.reviews_rate-stars > li div:hover,
.product_rate-stars > li div:hover {
  transform: none !important;
}

.photos-carousel {
  transform: translateX(-20px);
}

.accessories-carousel {
  margin-top: 19px;
  padding: 0 30px 0 20px;
}

.slick-track {
  display: flex !important;
  justify-content: space-between;
  gap: 40px;
}
.brands-slider .slick-track {
  gap: 15px;
}

.ant-dropdown {
  background: rgba(28, 24, 23, 0.77);
}

.slick-slide-active .product-photo {
  cursor: pointer;
}

.review_users-review-pagination {
  justify-content: center;
  margin-top: 20px;

  .ant-pagination-item-active {
    position: relative;
    border: none !important;

    > a {
      color: #808080 !important;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 7px;
      left: 50%;
      transform: translateX(-50%);
      height: 1.5px;
      width: 12px;
      background-color: #808080;
    }
  }
}
.ant-breadcrumb {
  font-size: rem(16px);
  font-family: inherit; // Ensures it uses the global font-family

  > ol li:first-child .ant-breadcrumb-link {
    font-size: rem(14px);
  }
}

.ant-carousel .slick-slide a:focus-visible {
  border: 2px solid #1890ff;
  outline: none;
}

.product-page-photo-modal {
  max-width: 1240px;
  width: 100% !important;
  .ant-modal-content {
    padding: 56px !important;
    .ant-modal-close {
      top: 56px !important;
      right: 56px !important;
      width: 48px;
      height: 48px;
      span {
        font-size: 23px;
        color: #1c1817;
      }
    }
  }
}

.container-xxl {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 50px;
}

@media screen and (max-width: 1440px) {
  .product-page-photo-modal {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1250px) {
  .container-xxl {
    padding: 0 20px;
  }
  .product-page-photo-modal {
    max-width: 900px;
    .ant-modal-content {
      padding: 20px !important;
    }
  }
}
@media screen and (max-width: 992px) {
  .product-page-photo-modal {
    max-width: 700px;
    .ant-modal-content .ant-modal-close {
      top: 10px !important;
      right: 25px !important;
      width: 40px;
      height: 40px;
    }
  }
}
@media screen and (max-width: 768px) {
  #header-search {
    padding-right: 40px;
  }
  .product-page-photo-modal {
    max-width: 500px;
    .ant-modal-content {
      padding: 10px 15px !important;
      .ant-modal-close {
        top: 10px !important;
        right: 15px !important;
        width: 18px;
        height: 18px;
        > span > span {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .product-page-photo-modal {
    max-width: 460px !important;
  }
}
@media screen and (max-width: 500px) {
  .product-page-photo-modal {
    max-width: 350px !important;
  }
}

@media screen and (max-width: 450px) {
  .container-xxl {
    padding: 0 16px;
  }
}
@media screen and (max-width: 380px) {
  .product-page-photo-modal {
    max-width: 290px !important;
    .ant-modal-content {
      padding: 10px !important;
      .ant-modal-close {
        top: 10px !important;
        right: 15px !important;
        width: 15px;
        height: 15px;
        > span > span {
          font-size: 15px;
        }
      }
    }
  }
}

/* @media screen and (max-height: 968px) {
  .product-page-photo-modal .ant-modal-content {
    padding: 20px !important;
  }
}
@media screen and (max-height: 770px) {
  .product-page-photo-modal {
    max-width: 1000px;
  }
  .product-page-photo-modal .ant-modal-content .ant-modal-close {
    top: 30px !important;
  }
}
@media screen and (max-height: 670px) {
  .product-page-photo-modal {
    max-width: 900px;
  }
  .product-page-photo-modal .ant-modal-content .ant-modal-close {
    top: 20px !important;
    right: 40px !important;
  }
}
 */
