@import url('./variables.css');
@import url('./normalise.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './functions';

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  color: var(--text-color);
  font-family: Inter, sans-serif;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-card .ant-card-body {
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

:root {
  --main-color: #5a40f0;
  --border-color: rgba(57, 98, 232, 0.1);
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
fieldset {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;

  @media (width <= 1545px) {
    padding: 0px 50px;
  }

  @media (width <= 1445px) {
    padding: 0px 50px;
  }

  @media (width <= 1070px) {
    padding: 0px 30px;
  }

  @media (width <= 570px) {
    padding: 0px 16px;
  }
}

.button {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 12px;
  border: 2px solid var(--buttons-and-accent-color);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  transition: all 0.3s ease-in-out;

  &-primary {
    width: 100px;
    color: var(--buttons-and-accent-color);
    background-color: transparent;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--buttons-and-accent-color);
      color: var(--white-color);
    }

    &:active {
      background-color: var(--green-active-color);
      color: var(--white-color);
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--button-disabled-color);
      color: var(--white-color);
    }
  }

  &-secondary {
    width: 100%;
    background-color: var(--buttons-and-accent-color);
    color: var(--white-color);

    &:hover,
    &:focus,
    &:focus-visible {
      border-color: var(--button-hover-color);
      background-color: var(--button-hover-color);
    }

    &:active {
      border-color: var(--green-active-color);
      background-color: var(--green-active-color);
    }

    &:disabled {
      cursor: not-allowed;
      border-color: var(--button-disabled-color);
      background-color: var(--button-disabled-color);
    }
  }

  &__status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 146px;
    height: 44px;
    padding: 10px 24px;
    border: 1px solid #065d0f;
    border-radius: 28px;
    background-color: #d6f1da;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #065d0f;
    cursor: auto;

    &_not_paid {
      border-color: #615f5f;
      background-color: var(--white-color);
      color: #615f5f;
    }

    &_returned {
      border-color: #7d3a0a;
      background-color: #f6d3b9;
      color: #7d3a0a;
    }

    &_sent {
      border-color: #715c3b;
      background-color: #f3ede2;
      color: #715c3b;
    }

    &_cancel {
      border-color: #910413;
      background-color: #ffdade;
      color: #910413;
    }

    &_order {
      border-color: #5f4185;
      background-color: #e5e1fd;
      color: #5f4185;
    }
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.reviews_rate-stars > li,
.product_rate-stars > li {
  margin-inline-end: 0 !important;
  color: #6f4c9a !important;
}

.reviews_rate-stars > li div:hover,
.product_rate-stars > li div:hover {
  transform: none !important;
}

.photos-carousel {
  transform: translateX(-20px);
}

.accessories-carousel {
  margin-top: 19px;
  padding: 0 30px 0 20px;
}

.slick-track {
  display: flex !important;
  justify-content: space-between;
  gap: 40px;
}
.brands-slider .slick-track {
  gap: 15px;
}

.ant-dropdown {
  background: rgba(28, 24, 23, 0.77);
}

.slick-slide-active .product-photo {
  cursor: pointer;
}

.ant-notification-notice-wrapper {
  background-color: #2c2c2e !important;
}
.basket-popup-notification {
  padding: 12px !important;
  width: 268px !important;
  height: 48px;
  text-align: center;
  .ant-notification-notice-message {
    font-size: 14px !important;
    font-weight: 500;
    color: #fff !important;
  }
}

.review_users-review-pagination {
  justify-content: center;
  margin-top: 20px;

  .ant-pagination-item-active {
    position: relative;
    border: none !important;

    > a {
      color: #808080 !important;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 7px;
      left: 50%;
      transform: translateX(-50%);
      height: 1.5px;
      width: 12px;
      background-color: #808080;
    }
  }
}

.ant-breadcrumb {
  font-size: rem(16px);
  font-family: inherit;

  > ol li:first-child .ant-breadcrumb-link {
    font-size: rem(14px);
  }
}

.ant-carousel .slick-slide a:focus-visible {
  border: 2px solid #1890ff;
  outline: none;
}

// Global Ant Design Input override for admin forms
.ant-form-item {
  .ant-form-item-label > label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--secondary-text-color);

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .ant-input {
    border: 1px solid var(--secondary-background-color);
    border-radius: 12px;
    padding: 16px;
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-color);
    transition: all 0.2s;

    &:hover {
      border-color: var(--theme-color) !important;
      box-shadow: none !important;
    }

    &:focus,
    &:focus-within {
      border-color: var(--theme-color) !important;
      box-shadow: none !important;
      outline: none !important;
    }

    &:active {
      border-color: var(--theme-color) !important;
      box-shadow: none !important;
    }
  }

  .ant-input-status-error {
    border-color: var(--error-color) !important;

    &:hover,
    &:focus,
    &:focus-within {
      border-color: var(--error-color) !important;
    }
  }
}

.product-page-photo-modal {
  max-width: 1240px;
  width: 100% !important;
  .ant-modal-content {
    border-radius: 20px;
    padding: 56px !important;
    .ant-modal-close {
      top: 50px !important;
      right: 56px !important;
      width: 48px;
      height: 48px;
      span {
        font-size: 23px;
        color: #1c1817;
      }
    }
  }
}

.container-xxl {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 50px;
}

@media screen and (max-width: 1250px) {
  .container-xxl {
    padding: 0 20px;
  }
  .product-page-photo-modal {
    max-width: 95%;
    .ant-modal-content {
      padding: 20px !important;
      .ant-modal-close {
        top: 20px !important;
        right: 20px !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #header-search {
    padding-right: 40px;
  }
  .product-page-photo-modal {
    .ant-modal-content {
      padding: 10px 15px 60px 15px !important;
      .ant-modal-close {
        top: 15px !important;
        right: 15px !important;
        width: 20px;
        height: 20px;
        > span > span {
          font-size: 18px;
        }
      }
    }
  }
  .favorite__title {
    display: none !important;
  }
  .ant-avatar {
    width: 40px !important;
    height: 40px !important;
    .ant-avatar-string {
      font-size: 20px;
      line-height: 1;
    }
  }
}

@media screen and (max-width: 450px) {
  .container-xxl {
    padding: 0 16px;
  }
  .product-page-photo-modal {
    .ant-modal-content {
      border-radius: 12px;
    }
  }
}
@media screen and (max-width: 380px) {
  .product-page-photo-modal {
    .ant-modal-content {
      padding: 10px 10px 60px 10px !important;
      .ant-modal-close {
        top: 10px !important;
        right: 15px !important;
        width: 15px;
        height: 15px;
        > span > span {
          font-size: 15px;
        }
      }
    }
  }
}
