@import url("./variables.css");
@import url("./normalise.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-card .ant-card-body {
  padding: 0;
}
