@import url('./variables.css');
@import url('./normalise.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './functions';

html,
body {
  scroll-behavior: smooth;
  color: var(--text-color);
  font-family: Inter, sans-serif;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-card .ant-card-body {
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

:root {
  --main-color: #5a40f0;
  --border-color: rgba(57, 98, 232, 0.1);
}



button {
	padding         : 0;
	margin          : 0;
	background-color: transparent;
	border          : none;
	cursor          : pointer;
}

a {
	text-decoration: none;
	color          : inherit;
}

ul,
ol {
	margin    : 0;
	padding   : 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
p,
fieldset {
	margin : 0;
	padding: 0;
}

img {
	max-width: 100%;
	height   : auto;
}

.reviews_rate-stars > li,
.product_rate-stars > li {
  margin-inline-end: 0 !important;
}

.arrow-container > div {
  display: flex;
}

.reviews_rate-stars > li div:hover,
.product_rate-stars > li div:hover {
  transform: none !important;
}

.photos-carousel {
  transform: translateX(-20px);
}

.accessories-carousel {
  margin-top: 19px;
  padding: 0 30px 0 20px;
}

.slick-track {
  display: flex !important;
  justify-content: space-between;
  gap: 40px;
}
.brands-slider .slick-track {
  gap: 15px;
}

.arrow-container {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 24px;
  margin-right: 20px;
}
.ant-dropdown {
  background: rgba(28, 24, 23, 0.77);
}

.btn-arrow-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid #00820d;
  border-right: none;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.btn-arrow-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 32px;
  border: 2px solid #00820d;
  border-left: none;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
}

.arrow-container > div:hover .btn-arrow-prev,
.arrow-container > div:hover .btn-arrow-next {
  cursor: pointer;
}

.arrow-container > div:hover .btn-arrow-prev {
  border: 3px solid #4da856 !important;
  border-right: none !important;
}

.arrow-container > div:hover .btn-arrow-next {
  border: 3px solid #4da856 !important;
  border-left: none !important;
}

.arrow-container > div .btn-arrow-prev:active {
  border: 3px solid #00680a !important;
  border-right: none !important;
  outline: none;
}

.arrow-container > div .btn-arrow-next:active {
  border: 3px solid #00680a !important;
  border-left: none !important;
  outline: none;
}

.arrow-container > div .btn-arrow-prev:active svg path,
.arrow-container > div .btn-arrow-next:active svg path {
  stroke-width: 2.5px;
  stroke: #00680a !important;
}

.arrow-container > div .btn-arrow-prev.disabled {
  border: 2px solid #c3c3c5 !important;
  border-right: none !important;
  cursor: not-allowed;
}

.arrow-container > div .btn-arrow-next.disabled {
  border: 2px solid #c3c3c5 !important;
  border-left: none !important;
  cursor: not-allowed;
}

.arrow-container > div .btn-arrow-prev.disabled:hover {
  border: 3px solid #c3c3c5 !important;
  border-right: none !important;
}

.arrow-container > div .btn-arrow-next.disabled:hover {
  border: 3px solid #c3c3c5 !important;
  border-left: none !important;
}

.arrow-container > div .btn-arrow-prev.disabled svg path,
.arrow-container > div .btn-arrow-next.disabled svg path {
  stroke: #c3c3c5 !important;
}

.slick-slide-active .product-photo {
  cursor: pointer;
}

.review_users-review-pagination {
  justify-content: center;
  margin-top: 20px;

  .ant-pagination-item-active {
    position: relative;
    border: none !important;

    > a {
      color: #808080 !important;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 7px;
      left: 50%;
      transform: translateX(-50%);
      height: 1.5px;
      width: 12px;
      background-color: #808080;
    }
  }
}
.ant-breadcrumb {
  font-size: rem(16px);
  font-family: inherit; // Ensures it uses the global font-family

  > ol li:first-child .ant-breadcrumb-link {
    font-size: rem(14px);
  }
}

.ant-carousel .slick-slide a:focus-visible {
  border: 2px solid #1890ff;
  outline: none;
}

.product-page-photo-modal {
  max-width: 1240px;
  width: 100% !important;
  .ant-modal-content {
    margin: 100px 0;
    padding: 56px !important;
    .ant-modal-close {
      top: 56px !important;
      right: 56px !important;
      width: 48px;
      height: 48px;
      span {
        font-size: 23px;
        color: #1c1817;
      }
    }
  }
}
