@import url("./variables.css");
@import url("./normalise.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.slick-track {
  display: flex !important;
  gap: 40px !important;
}

/* Search field styles for mobile version */
@media (max-width: 1070px) {
  .ant-input-suffix > svg {
    width: 48px;
    height: 48px;
    padding: 0 12px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #00820d;
    border: 1px solid #00820d;
    cursor: pointer;
  }

  .ant-input-suffix > svg:hover {
    background-color: var(--green-active-color);
  }

  .ant-input-suffix > svg:active {
    background-color: var(--green-color);
  }

  .ant-input-suffix > svg > path {
    stroke: #fff;
  }
}

@media (max-width: 1070px) {
  .slick-track {
    gap: 8px !important;
  }
}
