:root {
  --bg-color: #f8f7fa;
  --text-color: #1c1817;
  --theme-color: #6f4c9a;
  --green-color: #00820d;
  --green-active-color: #00680a;
  --carousel-theme-color: #eae4ee;
  --white-color: #ffffff;
  --secondary-text-color: #808080;
  --buttons-and-accent-color: #00820d;
  --secondary-background-color: #eae4ee;
  --button-hover-color: #4da856;
}
