.product-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 50px;
  > img {
    align-self: flex-end;
    max-height: 732px;
  }
}

@media screen and (max-width: 992px) {
  .product-list {
    > div,
    img {
      display: none;
    }
  }
}
