.card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px;

  height: 160px;
  background-color: var(--white-color);
  border-radius: 20px;

  > div:first-child {
    min-width: 100px;
    max-width: 100px;
    padding: 5px;
    img {
      width: 100%;
    }
  }

  .cardDetails {
    flex-grow: 1;
    .nameWrapper {
      display: flex;
      flex-direction: column;
      max-width: 476px;
      margin-bottom: 8px;
      span:last-child {
        color: #808080;
      }
      .name {
        margin-bottom: 8px;
        overflow: hidden;
        color: var(--text-color);
        font-weight: 500;
        font-size: 24px;
        text-overflow: ellipsis;
        line-height: 150%;
      }
    }

    .priceWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        color: var(--text-color);
        font-size: 24px;
        line-height: 150%;
      }

      .details {
        color: #808080;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    height: 135px;
    padding: 15px;
    .cardDetails {
      .nameWrapper .name,
      .priceWrapper .price {
        font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .card {
    padding: 12px;
    > div:first-child {
      min-width: 80px;
      max-width: 80px;
    }
    .cardDetails {
      .nameWrapper .name,
      .priceWrapper .price {
        font-size: 1rem;
      }
      .nameWrapper {
        margin-bottom: 4px;
        .name {
          line-height: 130%;
          margin-bottom: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .card {
    gap: 5px;
    padding: 10px;
    > div:first-child {
      min-width: 65px;
      max-width: 65px;
    }
    .cardDetails {
      .nameWrapper {
        margin-bottom: 0;
        .name {
          margin-bottom: 0;
        }
      }
      .nameWrapper .name,
      .priceWrapper .price {
        font-size: 0.9rem;
      }
      .nameWrapper,
      .priceWrapper {
        .details {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-height: 820px) and (min-width: 769px) {
  .card {
    height: 138px;
    .cardDetails {
      .nameWrapper {
        span:first-child {
          line-height: 115%;
          margin-bottom: 5px;
        }
      }
    }
  }
}
