.admin {
  padding: 56px 50px;

  &__wrapper {
    padding: 50px 0px;
    border-radius: 28px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    background: var(--white-color);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 76px;
    gap: 3.375rem;
    margin-bottom: 35px;
  }

  &__titleWrap {
    padding: 0.625rem;
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: var(--theme-color);
  }

  &__search {
    width: 693px;

    span {
      border: 1px solid var(--secondary-background-color);
      background-color: var(--bg-color);
    }
  }

  &__buttons {
    display: flex;
    width: 17.875rem;
    align-items: center;
    gap: 0.5rem;

    > * {
      flex: 0 0 56px;
      height: 56px;

      &:last-child {
        flex: 1;
      }
    }

    &Add {
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--secondary-background-color);
      border-radius: 8px;
      padding: 10px 16px;
      background-color: var(--bg-color);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus,
      &:focus-visible {
        background-color: var(--secondary-background-color);
      }
    }
  }

  &__table {
    :global {
      .ant-checkbox {
        align-items: center;

        &-inner {
          width: 24px;
          height: 24px;
          background-image: url('../../../assets/icons/checkbox.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          margin-right: 4px;
          border: none !important;
          outline: none !important;
          outline-offset: 0px !important;
        }

        & + span {
          display: none;
        }

        &::after {
          display: none;
        }

        &-checked .ant-checkbox-inner::after {
          display: none;
        }

        &-checked .ant-checkbox-inner {
          background-image: url('../../../assets/icons/checkbox-checked.svg') !important;
          border-color: transparent !important;
          background-color: transparent !important;
        }
      }
    }

    &Wrapper {
      display: table;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: var(--black);
      margin: 0 auto;
      thead {
        background-color: var(--bg-color);
        border-top: 1px solid var(--secondary-background-color);
        border-bottom: 1px solid var(--secondary-background-color);

        tr {
          display: table-row;
        }

        th {
          padding: 24px 0px;
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 24px;
          line-height: 150%;
          color: var(--text-color);
          width: auto;
          vertical-align: middle;
          text-align: center;

          &:first-child {
            padding: 0px 78px;
            text-align: left;

            > div {
              display: flex;
              align-items: center;
              gap: 8px;
            }
          }

          &:nth-child(4) {
            padding: 0px 89px;
            text-align: right;
          }
        }
      }

      &Checkbox {
        display: flex;
        width: 24px;
        height: 24px;

        span {
          width: 24px;
          height: 24px;
        }

        :global {
          .ant-checkbox {
            &.ant-checkbox-indeterminate .ant-checkbox-inner {
              background-image: url('../../../assets/icons/checkbox-checked.svg') !important;
              border-color: transparent !important;
              background-color: transparent !important;
              width: 24px;
              height: 24px;
            }

            &-inner::after {
              display: none;
            }
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid var(--secondary-background-color);
          transition: background-color 0.3s ease-in-out;

          &:hover {
            background-color: var(--bg-color);
          }
        }

        td {
          padding: 24px 0;
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          vertical-align: middle;
          color: var(--text-color);

          &:first-child {
            padding: 24px 78px;
            text-align: left;

            a {
              text-decoration: underline;
              text-underline-offset: 2.6px;
              color: var(--theme-color);
            }

            > div {
              display: flex;
              align-items: center;
              gap: 8px;
            }
          }

          // &:nth-child(2) {
          //   font-variant-numeric: tabular-nums;
          // }

          // &:nth-child(5) {
          //   font-variant-numeric: tabular-nums;
          // }

          &:nth-child(4) {
            padding: 0px 89px;
            text-align: right;
          }

          span {
            display: inline-block !important;
          }
        }
      }
    }
  }

  &__pagination {
    display: none;
    justify-content: center !important;
    margin-top: 56px;

    @media screen and (min-width: 680px) {
      display: flex;
    }

    :global {
      .ant-pagination {
        display: flex;
      }

      .ant-pagination-item {
        height: auto;
        width: auto;
        border: none;
        background-color: transparent;
        font-family: 'Inter', sans-serif;

        a {
          display: inline-block;
          padding: 0;
          border-bottom: 1px solid transparent;
          font-weight: 400;
          font-size: 24px;
          line-height: 120%;
          color: var(--text-color);
        }

        &:hover {
          background-color: transparent !important;
          border-color: transparent !important;

          a {
            color: var(--text-color) !important;
          }
        }
      }

      .ant-pagination-item-active {
        background-color: transparent;

        a {
          border-color: var(--text-color);
          color: var(--text-color);
        }
      }

      .ant-pagination-prev,
      .ant-pagination-next {
        border: none;
        background-color: transparent;
      }

      .ant-pagination-prev .ant-pagination-item-link,
      .ant-pagination-next .ant-pagination-item-link {
        color: var(--text-color) !important;
      }

      .ant-pagination-prev:hover .ant-pagination-item-link,
      .ant-pagination-next:hover .ant-pagination-item-link {
        background-color: transparent !important;
      }

      .ant-pagination-item-link-icon {
        color: var(--text-color) !important;
      }
    }
  }
}
