.cardConatiner {
  font-family: "Inter", sans-serif;
  padding: 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  height: 480px;
  border: 2px solid #5a3e7d07;
  transition: all 0.2s;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  margin-top: 5px;
  margin-bottom: 5px;
}

.cardBrandConatiner {
  height: 100%;
  padding: 16px;
}

.cardConatiner:hover {
  cursor: pointer;
  transform: scale(1.02);
}

/* #region container top */
.cardContainerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0;
}

.productImage {
  width: 90%;
  height: 100%;
}

.cardConatinerLike {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 90px;
  flex-wrap: nowrap;
}

.cardConatinerLikeLaptop {
  gap: 160px;
}

.colorPalette {
  width: 24px;
  height: 88px;
}

.colorPaletteLaptop {
  height: auto;
}

/* #endregion */

.cardContainerBottom {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.cardContainerBottom h3 {
  margin-top: 24px;
}
.cardContainerBottom h3,
.cardPriceContainer p {
  font-size: 24px;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 0;
}

.cardRate {
  color: #6f4c9a;
  font-size: 17px;
  padding-top: 4px;
}

.cardPriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 35px;
}

.cardPriceContainer p {
  font-size: 24px;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 0;
  margin: 0;
}

.brandImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1070px) {
  .cardConatiner {
    height: 430px;
    margin-right: 20px;
  }

  .cardBrandConatiner {
    height: 100%;
  }

  .cardConatinerLike {
    gap: 50px;
  }

  .cardConatinerLikeLaptop {
    gap: 100px;
  }
}

@media (max-width: 460px) {
  .cardConatiner {
    margin-right: 8px;
    height: 287px;
  }

  .cardBrandConatiner {
    height: 100%;
  }

  .productImage {
    width: 100%;
    height: auto;
  }

  .likeIcon {
    height: 24px;
    width: 24px;
  }

  .colorPalette {
    width: 12px;
    height: 44px;
  }

  .cardConatinerLike {
    gap: 20px;
  }

  .cardConatinerLikeLaptop {
    gap: 40px;
  }

  .cardContainerBottom h3 {
    margin-top: 12px;
  }

  .cardContainerBottom h3,
  .cardPriceContainer p {
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 0;
  }

  .cardRate {
    font-size: 12px;
    padding-top: 4px;
  }

  .cardPriceContainer {
    margin-top: 18px;
  }

  .cardPriceContainer p {
    margin-top: 23px;
  }

  .cardPriceContainer img {
    width: 48px;
    height: 48px;
  }
}
