@import '@/styles/functions';
@import '@/styles/zIndex';

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $z-modal;
}

.isolateHoverEffectFromRerender:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.cardConatiner {
  position: relative;
  min-width: inherit;
  max-width: 305px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  margin: 5px 0;
  padding: 16px 16px 16px;
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 hsla(0deg 0% 0% / 10%);
  transition: all 0.2s;
  text-decoration: none;
  pointer-events: auto;
  transition: transform 0.3s ease-in-out;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: start;
}

.marginTop {
  margin-top: 0px;
}

.cardContainerTop {
  display: flex;
  padding: 0;
  height: 246px;
}

.cardImage {
  flex-grow: 1;
  align-self: flex-start;

  .smartphoneImg,
  .laptopImg {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  .laptopImg {
    width: 240px;
  }
}
.laptopCardImage img {
  width: 100%;
  height: initial;
}
.reviewedCardImage img {
  width: 110%;
}

.cardConatinerLike {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  padding-bottom: 20px;
  // height: 100%;

  @media (max-width: 680px) {
    top: 8px;
    right: 8px;
  }
}

.likedIcon {
  path:first-child {
    fill: rgba(111, 76, 154, 1);
  }
}
.basketFavoriteIcon {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  color: rgba(99, 99, 99, 1);
  > svg {
    width: 32px;
    height: 32px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
    svg {
      width: 20px;
    }
  }
}

.accessories-colors {
  display: flex;
  flex-direction: column;
  gap: 8px;

  > div {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  > div.hasBorder {
    border: 0.5px solid #808080;
  }
}

.accessories-colors > div:hover {
  box-shadow: -1px 1px 21px -5px color(display-p3 0.23 0.26 0.84 / 80%);
}

.cardContainerBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 3em;
    line-height: 1.5em;
  }
}

.cardContainerBottom h3,
.cardPriceContainer p {
  margin-bottom: 0;
  color: #1c1817;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

.cardContainer:focus-visible {
  outline: 2px solid #007bff;
  outline-offset: 4px;
}

.cardRate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 4px;
  > ul {
    display: flex;
    gap: 9px;
    > li div div img {
      width: 15px;
      height: 15px;
    }
  }

  .card-code {
    color: #78808c;
  }
}

.cardPriceContainer {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 35px;
  button {
    width: 43px;
    height: 43px;
    border: none;
    background-color: #00820d;
    border-radius: 10px;
    cursor: pointer;
    > svg {
      width: 30px;
      height: 30px;
      path {
        stroke: #fff;
      }
    }

    &:hover {
      background-color: #4da856;
    }

    &:active {
      background-color: #00680a;
    }
  }
}

.cardBrandConatiner {
  &:focus-visible {
    border: 2px solid #233951;
    outline: none;
  }
}

.cardPriceContainer p {
  margin: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;

}

.brandImg {
  object-fit: cover;
}

.brandImg {
  max-width: 290px;
}
@media screen and (max-width: 1440px) {
  .cardImage {
    .laptopImg {
      width: 220px;
    }
  }
}
@media screen and (max-width: 1300px) {
  .cardImage {
    .smartphoneImg,
    .laptopImg {
      width: 240px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .cardConatiner {
    min-width: 250px;
    max-width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin: 5px 0;
    padding: 16px 16px 16px;
    font-family: Inter, sans-serif;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 hsla(0deg 0% 0% / 10%);
    transition: all 0.2s;
    text-decoration: none;
  }
  .cardContainerTop {
    height: initial;
    .cardImage {
      .smartphoneImg {
        width: 220px;
      }
      .laptopImg {
        width: 220px;
      }
    }
    .cardConatinerLike {
      > span svg {
        width: 30px;
        height: 30px;
      }
      .accessories-colors {
        > div {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .cardContainerBottom {
    h3 {
      font-size: rem(20px);
    }
    .cardPriceContainer {
      p {
        font-size: rem(18px);
      }
    }

    .card-code {
      font-size: rem(14px);
    }
  }
}
@media screen and (max-width: 920px) {
  .cardConatiner {
    .cardImage {
      .laptopImg {
        width: 200px;
      }
    }
  }
  .cardContainerTop {
    .cardConatinerLike {
      .accessories-colors {
        > div {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .cardConatiner {
    .cardImage {
      .smartphoneImg,
      .laptopImg {
        width: 170px;
      }
    }
  }
  .cardRate {
    > ul {
      gap: 6px;
      > li div div img {
        width: 12px;
        height: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cardConatiner {
    max-width: 305px;
    gap: 30px;
    padding: 0 12px 12px 12px;
    border-radius: 12px;
    .cardImage {
      .smartphoneImg,
      .laptopImg {
        margin-top: 0;
        width: 150px;
      }
    }
  }

  .cardContainerTop {
    height: 150px;
    .cardImage {
      align-self: auto;
    }
    .cardConatinerLike {
      padding-bottom: 10px;
      > span svg {
        width: 26px;
        height: 26px;
      }
      .accessories-colors {
        > div {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  .cardContainerBottom {
    h3 {
      font-size: rem(18px);
    }
    .cardPriceContainer {
      margin-top: 22px;
      p {
        font-size: rem(18px);
      }
      button {
        width: 37px;
        height: 37px;
        > svg {
          width: 25px;
          height: 25px;
        }
      }
    }
    .cardRate {
      > ul {
        gap: 5px;
        font-size: initial;
      }
    }
    .card-code {
      font-size: rem(13px);
    }
  }
}

@media screen and (max-width: 450px) {
  .cardConatiner {
    min-width: 175px;
    max-width: 305px;
    gap: 12px;
  }

  .cardContainerTop {
    height: 124px;
    .cardImage {
      align-self: auto;
      .smartphoneImg,
      .laptopImg {
        width: 120px;
      }
    }
    .cardConatinerLike {
      padding-bottom: 10px;
      > button {
        > svg {
          width: 24px;
          height: 24px;
        }
      }
      > span svg {
        width: 24px;
        height: 24px;
      }
      .accessories-colors {
        > div {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  .cardContainerBottom {
    h3 {
      font-size: rem(16px);
    }
    .cardPriceContainer {
      margin-top: 22px;
      p {
        font-size: rem(16px);
      }
      button {
        width: 48px;
        height: 48px;
        > svg {
          width: 32px;
          height: 32px;
        }
      }
    }
    .cardRate {
      > ul {
        gap: 3px;
        > li div div {
          line-height: 9px;
          img {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .card-code {
      font-weight: 300;
      font-size: rem(12px);
      line-height: 150%;
    }
  }
  .cardBrandConatiner {
    > img {
      max-width: 100px;
    }
  }
}

@media screen and (max-width: 380px) {
  .cardConatiner {
    .cardContainerTop {
      height: 110px;
      .cardImage {
        .smartphoneImg,
        .laptopImg {
          width: 90px;
        }
      }
      .cardConatinerLike {
        > span svg {
          width: 20px;
          height: 20px;
        }
      }
      .accessories-colors {
        > div {
          width: 10px;
          height: 10px;
        }
      }
    }
    .cardContainerBottom {
      > h3 {
        font-size: rem(14px);
      }
      .cardRate {
        > ul {
          gap: 4px;
          > li div div:last-child img {
            width: 7px;
            height: 7px;
          }
        }
        .card-code {
          display: none;
        }
      }
      .cardPriceContainer {
        margin-top: 15px;
        > p {
          font-size: rem(14px);
        }
        > button {
          width: 48px;
          height: 48px;
          > svg {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}
