.cardConatiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 16px 16px;
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  border: 2px solid #5a3e7d07;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 hsla(0deg 0% 0% / 10%);
  transition: all 0.2s;
}

.cardBrandConatiner {
  height: 100%;
  padding: 16px;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: start;
}

.marginTop {
  margin-top: 20px;
}

.cardConatiner:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.cardContainerTop {
  display: flex;
  justify-content: center;
  padding: 0;
}

.productImage {
  width: 100%;
  max-width: 234px;

  > img {
    height: 100%;
    margin: 0 auto;
  }
}

.cardConatinerLike {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}

.cardConatinerLikeLaptop {
  gap: 160px;
}

.colorPalette {
  width: 24px;
  height: 88px;
}

.colorPaletteLaptop {
  height: auto;
}

.accessories-colors {
  display: flex;
  flex-direction: column;
  gap: 8px;

  > div {
    width: 24px;
    height: 24px;
    border: 0.5px solid #ed7b23;
    border-radius: 50%;
  }
}

.accessories-colors > div:hover {
  box-shadow: -1px 1px 21px -5px hsla(252deg 60% 55% / 80%);
}

.cardContainerBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.cardContainerBottom h3 {
  margin-top: 4px;
}

.cardContainerBottom h3,
.cardPriceContainer p {
  margin-bottom: 0;
  color: #1c1817;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

.cardRate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 4px;

  .card-code {
    color: #808080;
  }
}

.cardPriceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 35px;

  & > svg:hover rect {
    fill: #00670b;
  }
}

.cardPriceContainer p {
  margin: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

.brandImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (600px <= width <= 1070px) {
  .cardConatiner {
    height: 430px;
    margin-right: 20px;
  }

  .cardBrandConatiner {
    height: 100%;
  }

  .cardConatinerLike {
    gap: 50px;
  }

  .cardConatinerLikeLaptop {
    gap: 100px;
  }
}

@media screen and (300px <= width <= 460px) {
  .cardConatiner {
    height: 287px;
    margin-right: 8px;
  }

  .cardBrandConatiner {
    height: 100%;
  }

  .productImage {
    width: 100%;
    height: auto;
  }

  .likeIcon {
    width: 24px;
    height: 24px;
  }

  .colorPalette {
    width: 12px;
    height: 44px;
  }

  .cardConatinerLike {
    gap: 20px;
  }

  .cardConatinerLikeLaptop {
    gap: 40px;
  }

  .cardContainerBottom h3,
  .cardPriceContainer p {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }

  .cardRate {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardPriceContainer {
    margin-top: 18px;
  }

  .cardPriceContainer p {
    margin-top: 23px;
  }

  .cardPriceContainer img {
    width: 48px;
    height: 48px;
  }
}
