.collapse {
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  @media(max-width: 767px) {
    border-radius: 8px;
  }
  &:not(:last-child) {
    margin-bottom: 28px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    &.isOpen {
      border-radius: 20px 20px 0 0;
    }

    &-title {
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: 0.5rem;
    }

    &-icon {
      margin-left: 30px;
      width: 34px;
      height: 34px;
      color: #6b7280;
      transition: transform 0.2s ease-in-out;
      transform: rotate(180deg);

      .collapse[aria-expanded='true'] & {
        transform: rotate(0deg);
      }
      @media(max-width: 767px) {
        margin-left: 10px;
      }
    }
  }

  &__content {
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &-wrapper {
      // padding: 1rem;
      background-color: white;
      // border-top: 1px solid #e5e7eb;
      // border-bottom: 1px solid #e5e7eb;
      border-radius: 0 0 20px 20px;
    }
  }

  &[aria-expanded='true'] {
    .collapse__content {
      max-height: 1000px;
    }
  }

  &[aria-expanded='false'] {
    .collapse__content {
      max-height: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .collapse {
    &__header {
      padding: 16px 8px 16px 16px;
    }
  }
}
