@import '@/styles/functions';

/* Desktop / default: 4 items in a row on a light strip */
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 50px;
  background-color: #f8f8fa;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 166px;
  height: 166px;
  background-color: #ffffff;
  border-radius: 24px;
  text-decoration: none;
}

.image img {
  width: 56px;
  height: 56px;
}

.text {
  margin-top: 16px;
  font-size: rem(16px);
  line-height: 150%;
}

/* Mobile: 2x2 grid, each card 166x166px */
@media screen and (max-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 166px);
    justify-content: center;
    justify-items: center;
    row-gap: 16px;
    column-gap: 16px;
    padding: 16px 12px 24px;
  }

  .card {
    width: 166px;
    height: 166px;
    box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  }

  .image img {
    width: 64px;
    height: 64px;
  }

  .text {
    margin-top: 12px;
    font-size: rem(16px);
  }
}

