@import '@/styles/functions';

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 26px;
  width: 100%;
  padding: 48px 50px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f8f8fa;
}

.card {
  background-color: inherit;
  text-decoration: none;

  .image {
    text-align: center;
  }
}

.text {
  margin-top: 32px;
  font-size: rem(24px);
  line-height: 150%;
  text-align: center;
  color: #1c1817;
}

@media screen and (max-width: 1250px) {
  .wrapper {
    justify-content: center;
    padding: 48px 20px;
    .card {
      max-width: 450px;
      padding: 20px 26px;
      width: 100%;
      border-radius: 20px;
      box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
    }
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    justify-content: center;
    .card {
      max-width: 300px;
      width: 100%;
      flex-basis: auto;
      padding: 12px 25px;
    }
    .text {
      margin: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 24px 20px;
    .card {
      max-width: 250px;
      .text {
        font-size: rem(20px);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    .card {
      max-width: 200px;
      padding: 10px 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 24px 16px;
    .card {
      max-width: 180px;
      > p {
        font-size: rem(19px);
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    .card {
      max-width: 166px;
      padding: 8px 10px;
      .text {
        font-size: rem(16px);
      }
    }
  }
}
@media screen and (max-width: 407px) {
  .wrapper {
    gap: 15px;
    .card {
      max-width: 300px;
      padding: 8px 10px;
      .text {
        font-size: rem(16px);
      }
    }
  }
}
