.headerTop {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 26px;

  &Logo {
    text-align: left;
    font-size: 34px;
    margin: 0;
    line-height: 120%;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #1c1817;
    text-decoration: none;
  }
}

@media (max-width: 1070px) {
  .headerTop {
    background-color: var(--white-color);
    margin: 0;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 26px;

    &Logo {
      text-align: center;
    }
  }
}

.headerBottom {
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--carousel-theme-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  &Catalog {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 183px;
    padding-left: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    background-color: var(--theme-color);

    h1 {
      margin: 0;
      font-size: 42px;
      font-weight: 500;
      line-height: 150%;
      color: var(--white-color);
    }
  }

  &Buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;

    .tooltip {
      top: 119px;
      right: 46px;
      z-index: 1;
      position: absolute;
    }
  }
}

@media (max-width: 1070px) {
  .headerBottom {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    background-color: var(--white-color);
  }
}
