.headerTop {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 26px;

  &Logo {
    text-align: left;
    font-size: 34px;
    margin: 0;
    line-height: 120%;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #1c1817;
    text-decoration: none;
  }
}

@media (max-width: 1070px) {
  .headerTop {
    background-color: var(--white-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12;
    padding: 17px 16px 16px 16px;

    &Logo {
      width: 358px;
      height: 41px;
      color: rgb(28, 24, 23);
      font-family: Nunito;
      font-size: 34px;
      font-weight: 800;
      line-height: 120%;
      text-align: center;
    }
  }
}

.headerBottom {
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--carousel-theme-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  &Catalog {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 183px;
    padding-left: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    background-color: var(--theme-color);

    h1 {
      margin: 0;
      font-size: 42px;
      font-weight: 500;
      line-height: 150%;
      color: var(--white-color);
    }
  }

  &Buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
}

@media (max-width: 1070px) {
  .headerBottom {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    background-color: var(--white-color);
  }
  .badgeCount {
    position: absolute;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 39px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(111, 76, 154);
    bottom: -6px;
    right: -2px;
  }
}

@media (max-width: 390px) {
  .headerBottom {
    padding-right: 16px;
    padding-left: 0px;
    padding-bottom: 16px;
    background-color: var(--white-color);
  }
}
