.headerTop {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 26px;

  &Logo {
    text-align: left;
    font-size: 34px;
    margin: 0;
    line-height: 120%;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #1c1817;
    text-decoration: none;
  }
}

@media (max-width: 1070px) {
  .headerTop {
    background-color: var(--white-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12;
    padding: 17px 16px 16px 16px;

    &Logo {
      width: 358px;
      height: 41px;
      color: rgb(28, 24, 23);
      font-family: Nunito;
      font-size: 34px;
      font-weight: 800;
      line-height: 120%;
      text-align: center;
      display: block;
      margin: 0 auto;
    }
  }
}

.headerBottom {
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--carousel-theme-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  &Catalog {
    padding: 15px 194px 16px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    background-color: var(--theme-color);

    h1 {
      margin: 0;
      font-size: 42px;
      font-weight: 500;
      line-height: 150%;
      color: var(--white-color);
    }
  }

  &Buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;

    .tooltip {
      top: 119px;
      right: 46px;
      z-index: 1;
      position: absolute;
      transform: translateY(-10px);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }
  }
}

.tooltip-visible {
  transform: translateY(0);
}

@media (max-width: 1070px) {
  .headerBottom {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    background-color: var(--white-color);
  }

  .badgeCount {
    background: var(--theme-color);
    color: var(--white-color);
    bottom: -6px;
    box-sizing: border-box;
    outline: none;
    position: absolute;
    right: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font:
      700 9px / 16px 'roboto',
      'Arial';
    border-radius: 100%;
  }
}

@media (max-width: 390px) {
  .headerBottom {
    padding: 0 16px 16px 0;
    background-color: var(--white-color);
  }
}
