.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}
.relative {
  position: relative;
}
.w-100 {
  width: 100%;
}
.swiper-wrapper {
  align-items: center;
}

.base-slider {
  padding-bottom: 70px;
  position: relative;
  @media(max-width: 991px) {
    padding-bottom: 0;
  }
  .slider-nav__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -70px;
    right: 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    // bottom: -70px;
    // top: auto;
    width: 32px;
    height: 32px;
    margin-top: 0;
    background-color: #fff;
    border: 2px solid #00820d;
    &.swiper-button-disabled {
      border: 2px solid #c3c3c5;
      opacity: 1;
      visibility: visible;
      svg {
        color: #c3c3c5
      }
    }
  }
  .swiper-button-next {
    // right: 40px;
    border-radius: 0 12px 12px 0;
    border-left: 0;
    &.swiper-button-disabled {
      border-left: 0;
      
    }
  }
  .swiper-button-prev {
    border-right: none;
    // right: 72px;
    // left: auto;
    border-radius: 12px 0 0 12px;
    &.swiper-button-disabled {
      border-right: 0;
    }
  }
}

.mainSlider {
  &.photoModal__main {
    @media(max-width: 575px) {
      padding-bottom: 30px;
    }
    .swiper-slide > div {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 720px;
      margin: 0 auto;
      @media(max-width: 991px){
        max-width: 300px;
      }
    }
  }
  &.productSlider {
    padding-bottom: 25px;
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-slide > div {
      max-width: 514px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      @media (max-width: 575px) {
        max-width: 300px;
      }
    }
    .swiper-pagination {
      bottom: 0;
      @media (max-width: 575px) {
        bottom: 10px;
      }
    }
  }
}



.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  background: #fff;
  &.swiper-pagination-bullet-active {
    background-color: #00820d;
    border: 1px solid #00820d;
  }
}

.thumb-wrapper {
  .thumb__item {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    max-width: 110px;
    height: 120px;
    padding: 5px;
    flex: 0 0 auto;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 11px;
    transition: 0.5s;
  }
  img {
    border-radius: 11px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .swiper-slide-thumb-active {
    border: 1px solid #00820d;
    transition: 0.5s;
  }
  &.photoModal__slider {
    width: 600px;
    @media(max-width: 991px) {
      width: 60%;
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
    .swiper-slide {
      max-width: 80px;
      height: 80px;
      flex: 0 0 auto;
    }
  }
  
}

