.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}
.relative {
  position: relative;
  width: 100%;
}
.w-100 {
  width: 100%;
}
.swiper-wrapper {
  align-items: center;
}

.base-slider {
  padding-bottom: 72px;
  position: relative;
  @media (max-width: 991px) {
    padding-bottom: 0;
  }
  .swiper-slide {
    height: 495px;
    @media (max-width: 1280px) {
      height: auto;
    }
    > img {
      height: 100%;
      @media (max-width: 1280px) {
        width: 100%;
        height: auto;
      }
    }
  }
  .slider-nav__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -70px;
    right: 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    // bottom: -70px;
    // top: auto;
    width: 36px;
    height: 32px;
    margin-top: 0;
    background-color: #fff;
    border: 2px solid #00820d;
    &.swiper-button-disabled {
      border: 2px solid #c3c3c5;
      opacity: 1;
      visibility: visible;
      svg {
        color: #c3c3c5;
      }
    }
    svg {
      width: auto;
      height: auto;
    }
  }
  .swiper-button-next {
    // right: 40px;
    border-radius: 0 12px 12px 0;
    border-left: 0;
    &.swiper-button-disabled {
      border-left: 0;
    }
  }
  .swiper-button-prev {
    border-right: none;
    // right: 72px;
    // left: auto;
    border-radius: 12px 0 0 12px;
    &.swiper-button-disabled {
      border-right: 0;
    }
  }
}

.mainSlider {
  &.photoModal__main {
    .swiper-slide > div {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 720px;
      max-height: fit-content;
      margin: 0 auto 25px auto;
      > img {
        height: 420px;
      }
    }

    @media (max-width: 991px) {
      .swiper-slide > div {
        margin: 0 auto 20px auto;
        > img {
          height: 350px;
        }
      }
    }
    @media (max-width: 767px) {
      .swiper-slide > div > img {
        height: 300px;
      }
    }
    @media (max-width: 575px) {
      padding-bottom: 30px;
    }
  }
  &.productSlider {
    padding-bottom: 24px;
    .swiper-wrapper {
      align-items: center;
      @media (max-width: 575px) {
        height: 337px;
      }
    }
    .swiper-slide > div {
      max-width: 514px;
      height: 549px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      @media (max-width: 575px) {
        max-width: 300px;
        height: 300px;
      }
    }
    .swiper-pagination {
      bottom: 0;
      @media (max-width: 575px) {
        bottom: 10px;
      }
    }
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  border-radius: 50%;
  background: #fff;
  &.swiper-pagination-bullet-active {
    background-color: #00820d;
    border: 1px solid #00820d;
  }
}

.thumb-wrapper {
  padding: 0 16px;

  .thumb__item {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    max-width: 110px;
    height: 120px;
    padding: 5px;
    flex: 0 0 auto;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 11px;
    transition: 0.5s;
  }
  .swiper-slide-thumb-active {
    border: 1px solid #00820d;
    transition: 0.5s;
  }

  img {
    border-radius: 11px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .swiper-slide,
  .thumb__item,
  .thumb__item img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  &.photoModal__slider {
    @media (max-width: 991px) {
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
    > div {
      // display: flex;
      justify-content: center;
    }
    .swiper-slide {
      max-width: 80px;
      height: 80px;
      flex: 0 0 auto;
      border: 1px solid #eae4ee;
      border-radius: 12px;
    }
    .swiper-slide,
    .thumb__item,
    .thumb__item img {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    .swiper-slide-thumb-active {
      border: 1px solid #00820d;
      transition: 0.5s;
    }
  }
}
.swiper,
.swiper-wrapper,
.swiper-slide,
.swiper-button-next,
.swiper-button-prev,
.base-slider,
.base__slider-arrow {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}
