@import '@/styles/functions';

.dashboardContainer {
  max-width: 1540px;
  width: 100%;
  margin: 48px auto 62px auto;
  padding: 0 50px;
}
.dashboardHeader {
  display: flex;
  align-items: center;
  min-height: 128px;
  background-color: #eae4ee;
  margin-bottom: 40px;
  .dashboardUserAvatar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    .dashboardUserName {
      margin: 0 26px 0 39px;
      font-size: rem(42px);
      line-height: 150%;
      font-weight: 500;
    }
  }

  .dashboardUserStatistics {
    max-width: 177px;
    width: 100%;
    margin-right: 55px;
    .userStatisticsOrders,
    .userStatisticsFavorites {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > div {
        display: flex;
        align-items: center;
        gap: 4px;
        > svg path {
          stroke: #78808c;
        }
        > span {
          color: #78808c;
        }
      }
    }
    .userStatisticsOrders {
      margin-bottom: 8px;
    }
  }
  .dashboardLogout {
    display: flex;
    gap: 8px;
    align-items: center;
    > span {
      color: #1c1817;
    }
  }
}
.dashboardContent {
  display: flex;
  gap: 40px;
}
.dashboardSidebar {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 420px;
  padding: 38px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 8px #0000001a;
  align-self: self-start;

  .dashboardSidebarIcon {
    margin: 6px;
  }

  .dashboardSidebarAccount,
  .dashboardSidebarOrders,
  .dashboardSidebarFavorites {
    display: flex;
    align-items: center;
    gap: 8px;
    > span {
      color: #1c1817;
      font-size: rem(24px);
      line-height: 150%;
    }
  }
  .dashboardSidebarAccount div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
  }
  .dashboardSidebarFavorites {
    > span:first-child {
      height: 36px;
      > span path {
        stroke-width: 1;
        stroke: #1c1817;
      }
    }
  }
  .dashboardSidebarOrders {
    > svg {
      width: 36px;
      height: 36px;
      path {
        stroke: #1c1817;
        stroke-width: 1;
      }
    }
  }
  .activeSection {
    > div > svg path,
    > svg path {
      stroke: #6f4c9a;
    }

    > span {
      color: #6f4c9a;
    }
  }
  .dashboardSidebarFavorites.aactiveSection {
    > svg path {
      fill: #6f4c9a;
    }
  }
}

@media screen and (max-width: 1440px) {
  .dashboardContainer {
    max-width: none;
    padding: 0;
  }
  .dashboardHeader {
    padding: 0 50px;
  }
  .dashboardContent {
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .dashboardContainer {
    margin: 0;
    gap: 0;
    background-color: var(--white-color);
  }
  .dashboardHeader {
    padding: 0 16px;
    min-height: 40px;
    margin: 24px 0;
    background-color: var(--white-color);

    .dashboardUserAvatar {
      .dashboardUserName {
        font-size: 24px;
        margin: 0 4px;
      }
    }
  }

  .ant-avatar {
    width: 36px;
    height: 36px;
  }

  .dashboardUserStatistics {
    display: none;
  }

  .dashboardContent {
    padding: 0 16px 40px;
    flex-direction: column;
  }
  .dashboardSidebar {
    width: 100%;
    flex-direction: row;
    gap: 0;
    border-radius: 0;
    padding: 0;
    justify-content: space-around;
    box-shadow: none;

    > a {
      width: 33%;
      justify-content: center;
      border-bottom: 2px solid var(--secondary-background-color);
    }

    svg {
      display: none;
    }

    .activeSection {
      border-bottom: 2px solid var(--theme-color);
      > span {
        color: #6f4c9a;
      }
    }
  }

  .dashboardRecommendations {
    display: none;
  }
}
