@import '@/styles/functions';

@mixin container {
  max-width: 1540px;
  width: 100%;
  padding: 0 50px;
}

.dashboardContainer {
  @include container();
  margin: 48px auto 62px auto;
  @media (max-width: 767px) {
    margin-top: 25px;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 767px) {
      gap: 0;
    }
  }
}
.dashboardHeader {
  @include container();
  display: flex;
  margin: 48px auto 40px auto;
  align-items: center;
  min-height: 128px;
  background-color: #eae4ee;
  .dashboardUserAvatar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    .dashboardUserName {
      margin: 0 26px 0 39px;
      font-size: rem(42px);
      line-height: 150%;
      font-weight: 500;
      text-transform: capitalize;
      @media (max-width: 767px) {
        font-size: 24px;
        font-weight: 400;
        margin: 0 4px;
      }
    }
  }

  .dashboardUserStatistics {
    max-width: 177px;
    width: 100%;
    margin-right: 55px;
    @media (max-width: 991px) {
      display: none;
    }
    .userStatisticsOrders,
    .userStatisticsFavorites {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > div {
        display: flex;
        align-items: center;
        gap: 4px;
        > svg path {
          stroke: #78808c;
        }
        > span {
          color: #78808c;
        }
      }
    }
    .userStatisticsOrders {
      margin-bottom: 8px;
    }
  }
  .dashboardLogout {
    display: flex;
    gap: 5px;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 9px 12px;
    > span {
      color: #1c1817;
    }
  }
}
.dashboardContent {
  display: flex;
  gap: 40px;
  @media screen and (max-width: 1440px) {
    padding: 0 50px;
    gap: 30px;
  }
  @media screen and (max-width: 1100px) {
    flex-direction: column;
    padding: 0 !important;
  }
  @media (max-width: 767px) {
    gap: 0;
  }
}
.dashboardSidebar {
  display: flex;
  flex-direction: column;
  gap: 28px;
  // width: 420px;
  max-width: 30%;
  flex: 0 0 420px;
  padding: 38px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 8px #0000001a;
  align-self: self-start;
  @media screen and (max-width: 1100px) {
    flex: 1;
    max-width: 100%;
    width: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    border-radius: 0;
    // margin: 0 -50px;
    padding: 38px 20px;
    background: #f8f7fa;
    gap: 0;
  }
  @media (max-width: 767px) {
    padding: 0px 0 40px;
    gap: 0;
  }
  .dashboardSidebarLink {
    @media (max-width: 1100px) {
      flex: 1;
      gap: 0;
      padding: 8px 15px;
      border-bottom: 2px solid #eae4ee;
      justify-content: center;
      transition: 0.5s;

      &.activeSection {
        border-bottom: 2px solid #6f4c9a;
        transition: 0.5s;
      }
      @media (max-width: 767px) {
        .dashboardSidebarCounter {
          display: none;
        }
      }
    }

    @media (max-width: 575px) {
      padding: 8px;
      text-transform: capitalize;
    }
    .dashboardSidebarLink__pref {
      @media (max-width: 575px) {
        display: none;
      }
    }
  }

  .dashboardSidebarAccount,
  .dashboardSidebarOrders,
  .dashboardSidebarFavorites {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      color: #1c1817;
      font-size: rem(24px);
      line-height: 150%;
    }
  }
  .dashboardSidebarAccount div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
  }
  .dashboardSidebarFavorites {
    > span:first-child {
      height: 36px;
      > span path {
        stroke-width: 1;
        stroke: #1c1817;
      }
    }
  }
  .dashboardSidebarOrders {
    svg {
      width: 36px;
      height: 36px;
      path {
        stroke: #1c1817;
        stroke-width: 1;
      }
    }
  }
  .activeSection {
    > div > svg path,
    > svg path {
      stroke: #6f4c9a;
    }

    span {
      color: #6f4c9a;
    }
  }
  .dashboardSidebarFavorites.aactiveSection {
    > svg path {
      fill: #6f4c9a;
    }
  }
}

@media screen and (max-width: 1440px) {
  .dashboardContainer {
    max-width: none;
    padding: 0;
  }
  .dashboardHeader {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1100px) {
  .dashboardHeader {
    padding: 0 20px;
  }
  .dashboardSidebarIcon {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .dashboardHeader {
    padding: 0 15px 25px 15px;
    background: #f8f7fa;
    min-height: auto;
  }
}
