.burgerMenuTop {
  &Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    color: #000000;
    font-family: Inter, sans-serif;
    border-bottom: 1px solid #f0f0f0;

    &:hover {
      color: #000000;
    }

    &Right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;

      p {
        font-size: 16px;
      }
    }
  }
}

.burgerMenuBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-top: 42px;
}

@media (max-width: 1070px) {
  .burgerButton {
    padding: 0 15px;
    flex-basis: 48px;
    max-width: 18px;
  }
  .headerMobile {
  }
}
