@import '@/styles/functions';

.burgerMenuTop {
  &Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-bottom: 23px;
    color: #1c1817;
    font-family: Inter, sans-serif;
    border-bottom: 1px solid #f0f0f0;

    &:hover,
    &:active,
    &:focus-within {
      width: 102%;
    }

    &Right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
    }

    &Admin {
      color: var(--buttons-and-accent-color);
    }

    &Sale {
      color: var(--error-color);
    }
  }
}

.burgerMenuBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-top: 42px;
  padding-left: 24px;
}

.container {
  padding: 24px 20px 3px 24px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 8px 0 hsla(0deg 0% 0% / 10%);

  img {
    width: 36px;
    height: 36px;
  }
  p {
    font-size: rem(24px);
    font-weight: 400;
  }
}
.burgerContainer {
  width: 100%;
  padding: 24px 20px 0 24px;
}

.catalogListButtons {
  display: none;
}
@media (max-width: 1450px) {
  .burgerMenuTopItem {
    margin-bottom: 20px;
    &:active,
    &:hover {
      color: #1c1817;
    }
  }
}

@media (max-width: 1060px) {
  .container {
    padding: 15px 10px 3px 14px;
  }
}

@media screen and (max-width: 768px) {
  .catalogListButtons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 44px 0 41px 0;
    position: relative;
    > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      background-color: #ffffff;
      border: 1px solid #eae4ee;
      border-radius: 12px;
      cursor: pointer;
      text-decoration: none;
      position: relative;

      &:hover {
        background-color: #4da856;
        > svg path {
          stroke: #fff;
        }
      }

      &:active {
        background-color: #00680a;
      }
    }
  }
}
