@import "@/styles/functions";

.burgerMenuTop {
  &Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-bottom: 23px;
    color: #1c1817;
    font-family: Inter, sans-serif;
    border-bottom: 1px solid #f0f0f0;

    &:hover,
    &:active,
    &:focus-within {
      width: 102%;
    }

    &Right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
    }

    &Admin {
      color: var(--buttons-and-accent-color);
    }

    &Sale {
      color: var(--error-color);
    }
  }
}

.burgerMenuBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-top: 42px;
  padding-left: 24px;
}

.container {
  width: 420px;
  padding: 24px 20px 3px 24px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 8px 0 hsla(0deg 0% 0% / 10%);

  img {
    width: 36px;
    height: 36px;
  }
  p {
    font-size: rem(24px);
  }
}
.burgerContainer {
  width: 100%;
  padding: 24px 20px 0 24px;
}

@media (max-width: 1070px) {
  header {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    background: rgb(255, 255, 255);
  }
}
