.carouselContainer {
  background-color: var(--carousel-theme-color);
  padding: 50px 30px 24px 20px;
  box-sizing: border-box;
}

.brandsCarousel {
  background-color: var(--bg-color);
}

@media (max-width: 1040px) {
  .sliderButtons {
    display: none;
  }
}

/* #endregion */

@media (max-width: 1040px) {
  .carouselContainer {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-top: 24px;
  }
}
