.mobile-carousel,
.laptop-carousel,
.viewed-carousel {
  box-sizing: border-box;
  margin: 24px auto 0 auto;
  max-width: 1540px;
  padding: 0 50px;
  > div {
    padding: 50px 10px 24px 10px;
    background-color: var(--carousel-theme-color);
    border-radius: 20px;
  }
}

.brands-carousel {
  box-sizing: border-box;
  margin: 48px auto 0 auto;
  max-width: 1540px;
  padding: 0 50px;
  div {
    background-color: var(--bg-color);
    > div:last-child div button {
      background-color: #fff;
    }
  }
}
.photos-carousel {
  margin-top: 24px;
  padding: 0;
  > div:last-child {
    margin-top: 40px;
    margin-right: 40px;
    div button {
      background-color: #fff;
    }
  }
}

@media screen and (320px <= width <= 1040px) {
  .sliderButtons {
    display: none;
  }
}

@media screen and (7680px <= width <= 1040px) {
  .carouselContainer {
    padding: 24px 24px 16px;
  }
}
