.carouselContainer {
  box-sizing: border-box;
  padding: 50px 30px 24px 20px;
  background-color: var(--carousel-theme-color);
}

.brandsCarousel {
  background-color: var(--bg-color);
}

@media screen and (320px <= width <= 1040px) {
  .sliderButtons {
    display: none;
  }
}

@media screen and (7680px <= width <= 1040px) {
  .carouselContainer {
    padding: 24px 24px 16px;
  }
}
