.headerBottomSearch {
  &Input {
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 22px;
    font-size: 16px;
    font-family: 'Inter', sans-serif !important;
    color: #808080;
    width: 600px;

    @media (max-width: 1400px) {
      width: 400px;
    }

    @media (max-width: 1200px) {
      width: 300px;
    }

    @media (max-width: 1070px) {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
    }

    @media (max-width: 470px) {
      width: auto;
      margin-left: 9px;
      margin-right: 9px;
    }
  }
}
