.header-search {
  max-height: 56px;
  padding: 10px 20px 10px 16px;
  font-size: 16px;
  border-radius: 12px;
  position: relative;
  border: none;
  outline: none;

  .search-right-elements {
    svg {
      display: flex;
      cursor: not-allowed;
      path {
        stroke: #a5a5a5;
      }
    }
    .active {
      display: flex;
      cursor: pointer;
      svg path {
        stroke: #1c1817;
      }
      &:hover,
      &:active {
        svg {
          cursor: pointer;
          path {
            stroke: #6f4c9a;
          }
        }
      }
    }
  }

  .autocomplete-search-bar {
    position: absolute;
    top: 48px;
    left: 0;
    display: none;
    max-width: inherit;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #fff;
    > ul {
      padding-bottom: 10px;
      li a {
        display: block;
        padding: 16px 22px;
        &:hover {
          background-color: #f8f7fa;
          cursor: pointer;
        }
        > span {
          color: #808080;
        }
        > strong {
          color: #1c1817;
        }
      }
    }
  }
  .active-suggestion {
    background-color: #f8f7fa;
    cursor: pointer;
  }
  .search-right-elements {
    display: flex;
    gap: 4px;
    align-items: center;
    img:hover {
      cursor: pointer;
    }
    div {
      width: 1px;
      height: 20px;
      background-color: #eae4ee;
    }
  }
  > input::placeholder {
    color: #a5a5a5;
  }
  &:hover,
  &:active,
  &:focus-within {
    border: none;
    outline: none;
    cursor: text;
    box-shadow: none;
  }
  &__error {
    border: 1px solid #f01a1a !important;
    box-shadow: none !important;

    .search-right-elements svg path {
      stroke: #f01a1a !important;
    }
  }

  @media screen and (max-width: 1400px) {
    margin-left: 18px; 
  }

  @media screen and (max-width: 1200px) {
    margin-left: 18px;
  }

  @media screen and (max-width: 1070px) {
    margin-left: 0px; 
  }
}
.autocomplete-search-bar__active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  .autocomplete-search-bar {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header-search {
    height: 48px;
    padding-right: 0;
    border: 1px solid #eae4ee;

    &:hover,
    &:active,
    &:focus-within {
      border: 1px solid #eae4ee;
      .search-right-elements svg path {
        stroke: #fff;
      }
    }
    .search-right-elements {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background-color: #00820d;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      position: relative;

      > img {
        position: absolute;
        top: 50%;
        left: -28px;
        transform: translateY(-50%);
      }
      .search-right-elements_devider {
        display: none;
      }
      > svg path {
        stroke: #fff;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .header-search {
    height: 40px;
    > span:last-child {
      > div {
        width: 40px;
        height: 40px;
        > img {
          width: 21px;
          height: 21px;
        }
      }
    }
  }
}
