.headerBottomSearch {
  &Input {
    width: 600px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 22px;
    color: #808080;
    font-size: 16px;
    font-family: Inter, sans-serif !important;
    border-radius: 16px;

    @media (width <= 1400px) {
      width: 400px;
    }

    @media (width <= 1200px) {
      height: 48px;
    }

    @media (width <= 1070px) {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    @media (width <= 470px) {
      height: 48px;
      margin-right: 9px;
      margin-left: 9px;
    }
  }
}

@media (width <= 470px) {
  .headerBottom {
    width: 390px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 9;
    padding: 0px 16px 0px 16px;
  }
  .headerBottomSearch {
    position: static;
    flex-grow: 1;
    width: 244px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  span {
    width: 48px;
    height: 48px;
    border-radius: 0px 12px 12px 0px;
    background: rgb(0, 130, 13);
    display: flex;
    justify-content: center;
  }
}

// .searchIcon {
//   @media (width <= 470px) {
//     background-color: #00820d;
//   }
// }
// .headerBottomSearch {
//   &Input {
//     width: 600px;
//     padding-top: 16px;
//     padding-bottom: 16px;
//     padding-left: 22px;
//     color: #808080;
//     font-size: 16px;
//     font-family: Inter, sans-serif !important;
//     border-radius: 16px;

//     @media (width <= 1400px) {
//       width: 400px;
//     }

//     @media (width <= 1200px) {
//       width: 300px;
//     }

//     @media (width <= 1070px) {
//       height: 48px;
//       padding-top: 0;
//       padding-right: 0;
//       padding-bottom: 0;
//     }

//     @media (width <= 470px) {
//       width: 244px;
//       height: 48px;
//       margin-right: 9px;
//       margin-left: 9px;
//     }
//   }
// }

// @media (max-width: 768px) {
//   span {
//     height: 48px;
//     padding: 0 12px;
//     border-top-right-radius: 16px;
//     border-bottom-right-radius: 16px;
//     background-color: #00820d;
//     border: 1px solid #00820d;
//     cursor: pointer;
//   }
// }
