@import '@/styles/functions';

.footer-wrapper {
  width: 100%;

  > div {
    min-height: 515px;
    padding: 46px 53px 73px 50px;
    background-color: #1c1817;
    > div:first-child {
      display: grid;
      grid-template-columns: 1fr 140px 150px 225px;
      column-gap: 102px;

      color: #f8f7fa;
      .contact-info {
        max-width: 600px;
        margin-right: auto;
        > div {
          display: flex;
          flex-direction: column;
          gap: 8px;
          a {
            display: flex;
            align-items: center;
            gap: 7px;
            color: inherit;
            line-height: 150%;
            text-decoration: none;
            transition: 0.3s linear;

            > svg {
              width: 34px;

              path {
                stroke: #fff;
              }
            }
          }
        }

        .footer-logo {
          margin-bottom: 16px;
          text-decoration: none;
          color: #f8f7fa;
          font-weight: 800;
          font-size: rem(34px);
        }
      }

      .contact-info,
      .client-links,
      .categories,
      .social-links {
        display: flex;
        flex-direction: column;

        h2,
        h3 {
          margin-bottom: 16px;
          font-weight: 600;
          font-size: rem(24px);
          line-height: 150%;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding: 0;
          list-style: none;

          li {
            a {
              color: inherit;
              line-height: 150%;
              text-decoration: none;
              transition: 0.3s linear;
            }
          }
        }

        .icons {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;

          > a {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 34px;
            height: 30px;
            width: 100%;
            color: #f8f7fa;
            transition: 0.3s linear;
          }
        }
      }

      .footer-note {
        margin-top: auto;
        text-align: end;
        color: #f8f7fa;
        text-decoration: none;

        transition: 0.3s linear;
      }
    }
    .copyrightText {
      text-align: end;
      > a {
        text-decoration: none;
        color: #f8f7fa;
        font-size: rem(12px);
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .footer-wrapper {
    > div {
      > div:first-child {
        column-gap: 70px;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .footer-wrapper > div {
    padding: 46px 20px 73px 20px;
  }
}

@media screen and (max-width: 1150px) {
  .footer-wrapper {
    > div {
      > div:first-child {
        column-gap: 50px;
      }
    }

    .contact-info {
      .logoname {
        font-size: rem(28px);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer-wrapper {
    > div {
      > div:first-child {
        grid-template-columns: 1fr 1fr;
        row-gap: 34px;
      }
      .copyrightText {
        text-align: start;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .copyrightText {
    margin-top: 30px;
  }
  .footer-wrapper > div {
    padding: 34px 16px;
    div:first-child {
      .contact-info {
        .footer-logo {
          font-size: rem(24px);
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer-wrapper div div:first-child {
    width: 173px;
    column-gap: 36px;
    .contact-info {
      > div {
        > a {
          > img, svg {height: 18px; width: 18px;}
        }
      }
      font-size: rem(12px);
    }
    .social-links {
        > .icons {
          > a {
             width: 34px;
            height: 34px;
            
          }
        }
      }
  }
}

@media screen and (max-width: 390px) {
  .footer-wrapper div {
    > div:first-child {
      .contact-info {
        // > div > a  {
        //   > img {
        //     width: 24px;
        //     height: 24px;
        //   }
        // }
        div:nth-child(2) a svg {
          width: 20px;
          height: 20px;
        }
      }

      .social-links,
      .categories,
      .client-links {
        h3 {
          font-size: rem(18px);
        }
        > ul > li > a {
          font-size: rem(13px);
        }
      }
      .social-links {
        > .icons {
          > a {
            width: 30px;
            height: 28px;
          }
        }
      }
    }
    .copyrightText {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 370px) {
  .footer-wrapper div {
    > div:first-child {
      grid-template-columns: 1fr;
    }
    .copyrightText {
      margin-top: 30px;
    }
  }
}
