.container {
  width: 704px;
  max-height: 657px;
  background: #eae4eecc;
  padding-top: 32px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  line-height: 150%;

  .cards {
    row-gap: 16px;
    padding: 0 32px;
    display: flex;
    position: relative;
    max-height: 514px;
    overflow-x: hidden;
    margin-bottom: 24px;
    flex-direction: column;

    .card {
      width: 638px;
      height: 160px;
      display: flex;
      padding: 24px;
      border-radius: 12px;
      background-color: var(--white-color);

      .name {
        color: var(--text-color);
        overflow: hidden;
        font-size: 24px;
        font-weight: 500;

        white-space: nowrap;
        margin-bottom: 8px;
        text-overflow: ellipsis;
      }

      .priceWrapper {
        display: flex;
        width: 476px;
        justify-content: space-between;

        .price {
          color: var(--text-color);
          font-size: 24px;
        }

        .details {
          color: #808080;
          font-size: 16px;
        }
      }
    }
  }

  .total {
    display: flex;
    column-gap: 32px;
    align-items: center;
    margin-right: 32px;
    padding-bottom: 32px;
    justify-content: flex-end;
  }

  button {
    border: none;
    cursor: pointer;
    padding: 16px 24px;
    color: var(--white-color);
    border-radius: 12px;
    background-color: var(--green-color);

    &:hover {
      background-color: var(--green-active-color);
    }
  }
}

.nameWrapper {
  display: flex;
  max-width: 476px;
  margin-bottom: 14px;
  flex-direction: column;
}

.cards::-webkit-scrollbar {
  width: 6px;
}

.cards::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #d1d1d1;

  &:hover {
    cursor: grab;
    background-color: #a8a8a8;
  }
}
