.adminInvoice {
  padding: 50px 0px;

  &__header {
    font-family: 'Inter', sans-serif;
    font-size: 2.625rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.5;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__wrapper {
    padding: 50px;
    border-radius: 28px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    background: var(--white-color);
  }

  &__orders {
    &Top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 28px;
    }

    &Search {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &Add {
      width: 96px !important;
    }

    &List {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;
    }

    &Item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 28px;
      border-radius: 28px;
      border-radius: 20px;
      padding: 16px 28px;
      background: var(--bg-color);
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      line-height: 150%;
      color: var(--text-color);

      &Name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        font-size: 24px;

        span:first-child {
          width: 40px;
          height: 40px;
          border: 2px solid var(--buttons-and-accent-color);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &::after {
            content: '';
            width: 22px;
            height: 20px;
            mask-image: url('../../assets/icons/checked.svg');
            mask-size: cover;
            mask-repeat: no-repeat;
            mask-position: center;
            background-color: var(--buttons-and-accent-color);
          }
        }
      }

      &Details {
        display: flex;
        align-items: center;
        gap: 26px;

        &Count {
          font-size: 16px;
          color: var(--secondary-text-color);
        }

        &Price {
          font-size: 24px;
        }

        img {
          width: 59px;
          height: 68px;
          border: 1px solid var(--secondary-background-color);
          border-radius: 12px;
        }

        button {
          width: 40px;
          height: 40px;
          border: 1px solid var(--secondary-background-color);
          border-radius: 8px;
          background-color: var(--secondary-background-color);
        }
      }
    }

    &Total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 42px;
      line-height: 150%;
      color: var(--text-color);
    }
  }

  &__delivery {
    &Header {
      display: flex;
      gap: 10px;
      align-items: flex-end;
    }

    &Method {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--secondary-text-color);
    }

    form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 80px;
      row-gap: 24px;
    }

    &Input {
      display: flex;
      flex-direction: column;
      gap: 8px;

      span {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--secondary-text-color);

        &::first-letter {
          text-transform: capitalize;
        }
      }

      input {
        border: 1px solid var(--secondary-text-color);
        border-radius: 12px;
        padding: 16px;
        background-color: var(--bg-color);
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--text-color);
      }
    }
  }

  &__status {
    &Buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }

    &Confirm {
      button {
        width: 260px !important;
      }
    }
  }

  &__comment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 50rem;
  }

  &__commentTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--secondary-text-color);
  }

  &__commentText {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--secondary-text-color);
  }

  &__phoneWrapper {
    position: relative;
  }

  &__phonePrefix {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--theme-color);
    color: var(--white-color);
    border-radius: 12px 0 0 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    z-index: 1;
    min-width: 95px;
    font-weight: 500;
  }

  &__phoneFlag {
    display: flex;
    position: relative;
    justify-content: center;
    border: 1px solid var(--secondary-text-color);
    border-radius: 2px;
    width: 32px;
    height: 24px;
    overflow: hidden;

    svg {
      position: absolute;
    }
  }

  &__phoneInput {
    padding-left: 120px !important;
  }

  &__phoneCode {
    color: white !important;
  }
}
