@import '@/styles/functions';

.basketPopup {
  width: 1240px;
  min-height: 401px;
  padding: 79px 56px 74px 56px;
  background: #f8f7fa;
  border-radius: 20px;

  &Close {
    position: absolute;
    top: 23px;
    right: 46px;
  }
  &Product {
    position: relative;
    display: flex;
    column-gap: 24px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    padding: 24px 16px 24px 24px;
    &Title {
      width: 90%;
      color: rgba(28, 24, 23, 1);
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
    }
    &Code {
      margin-top: 8px;
      color: rgba(128, 128, 128, 1);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    &Quantity {
      display: flex;
      align-items: center;
      column-gap: 8px;
      width: fit-content;
      margin-top: 8px;
      button {
        cursor: pointer;
        background: transparent;
        border-radius: 50%;
        border: 1.5px solid rgba(28, 24, 23, 1);
        color: rgba(28, 24, 23, 1);
        width: 14px;
        height: 14px;
        display: grid;
        place-content: center;
        &:last-child {
          padding-bottom: 2px;
        }
      }
      > button:hover,
      > button:active {
        background-color: #00820d;
      }
      p {
        margin-top: 2px;
      }
    }
    &Price {
      color: rgba(28, 24, 23, 1);
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &Img {
    position: relative;
    width: 180px;
    height: 200px;
    display: grid;
    place-content: center;
  }
  &Added {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 24px;
  }

  &Info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &RemoveProduct {
    position: absolute;
    top: 16px;
    right: 16px;

    &:hover svg path,
    &:active svg path {
      stroke: #00820d;
    }

    &:hover svg path:last-child,
    &:active svg path:last-child {
      fill: #00820d;
    }
  }

  &Bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &ContinueShopping {
    padding: 14px 30px;
    box-sizing: initial;
    margin-left: auto;
    margin-right: 16px;
    color: var(--green-color);
    background-color: var(--white-color);
    border: 2px solid var(--green-color);
    font-weight: 500;
    line-height: 24px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: var(--white-color);
      background-color: var(--green-color);
    }
    &:active {
      color: #fff;
      background-color: #00680a;
    }
  }
  &GotoBasket {
    padding: 16px 34px;
    color: var(--white-color);
    background-color: var(--green-color);
    font-weight: 500;
    line-height: 24px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: #4da856;
    }
    &:active {
      background-color: #00680a;
    }
  }
}
.emptybasketPopup {
  max-width: 1240px;
  width: 100%;
  min-height: 287px;
  padding: 84px 56px 84px 56px;
  background: #f8f7fa;
  border-radius: 20px;
  .emptybasketPopupClose {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 46px;
    right: 46px;
  }
  .emptybasketPopupTitle {
    margin-bottom: 20px;
    font-size: rem(42px);
    font-weight: 500;
  }
  .emptybasketPopupSubtitle {
    font-size: rem(24px);
    font-weight: 400;
  }
  .emptybasketPopupTitle,
  .emptybasketPopupSubtitle {
    color: #1c1817;
    line-height: 150%;
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  .basketPopup {
    width: 1000px;
  }
}
@media screen and (max-width: 1100px) {
  .basketPopup {
    width: 800px;
    min-height: 305px;
    padding: 50px 36px 30px 36px;
    &Close {
      top: 2px;
      right: 10px;
      > img {
        width: 40px;
        height: 40px;
      }
    }
    .basketPopupImg {
      width: 165px;
      height: 170px;
    }

    &Bottom {
      .basketPopupContinueShopping {
        padding: 10px 20px;
      }
      .basketPopupGotoBasket {
        padding: 11.6px 20px;
      }
    }
    .basketPopupRemoveProduct {
      > svg {
        width: 42px;
        height: 42px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .basketPopup {
    width: 680px;
    min-height: 290px;
    padding: 50px 16px 30px 16px;

    &Close {
      > img {
        width: 38px;
        height: 38px;
      }
    }
    .basketPopupProduct {
      padding: 24px 16px 24px 0px;
    }
    .basketPopupImg {
      width: 150px;
      height: 155px;
    }
    .basketPopupInfo {
      > h2 {
        font-size: rem(20px);
      }
    }
    .basketPopupBottom {
      > h3 {
        font-size: rem(20px);
      }
      > button {
        font-size: rem(14px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mobilePopup {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .top {
      display: flex;
      gap: 8px;
      > img {
        width: 100px;
      }
      > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 4px;
        flex-grow: 1;
        margin-top: 5px;
      }
      > div:last-child {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        min-width: 115px;
        max-width: 120px;
      }
      .mobilePopupTitle {
        display: -webkit-box;
        margin-bottom: 4px;
        font-size: rem(20px);
        font-weight: 400;
        color: #1c1817;
        line-height: 150%;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
      .mobilePopupCode {
        font-size: rem(16px);
        font-weight: 400;
        color: #808080;
        line-height: 150%;
      }
      .mobilePopupClose {
        align-self: flex-end;
        > img {
          text-align: end;
          width: 36px;
          height: 36px;
        }
      }
      .mobilePopupPrice {
        font-size: rem(20px);
        font-weight: 400;
        color: #1c1817;
        line-height: 150%;
        text-align: end;
      }
    }
    .devider {
      height: 1px;
      background-color: #eae4ee;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      > div:first-child {
        display: flex;
        align-items: center;
        gap: 20px;
        > button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          border: 1.5px solid #1c1817;
          border-radius: 50%;
          font-size: rem(16px);
          line-height: 150%;

          &:active {
            background-color: #eae4ee;
          }
          > img {
            width: 22px;
          }
        }
        > p {
          width: 15px;
        }
      }
      > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: #f8f7fa;
        border: none;
        border: 1px solid #eae4ee;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        > svg path:last-child {
          fill: #000;
        }
        .likedIcon svg path:first-child,
        .likedIcon svg path:last-child {
          fill: rgba(111, 76, 154, 1);
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .mobilePopup {
    width: 400px;
    .top {
      > img {
        width: 90px;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .mobilePopup {
    width: 320px;
    .top {
      gap: 5px;
      > img {
        margin-left: -5px;
        width: 80px;
      }
      .mobilePopupTitle {
        font-size: rem(14px);
      }
      .mobilePopupCode {
        font-size: rem(12px);
      }
      .mobilePopupClose {
        > img {
          width: 32px;
          height: 32px;
        }
      }
      .mobilePopupPrice {
        font-size: rem(14px);
      }
      > div:last-child {
        min-width: 80px;
        max-width: 85px;
      }
    }
    .bottom {
      > div:first-child {
        > button {
          width: 36px;
          height: 36px;
        }
      }
      > button {
        width: 40px;
        height: 40px;
        > span {
          svg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .mobilePopup {
    width: 290px;
    gap: 5px;

    .bottom {
      > div:first-child {
        > button {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

@media screen and (max-height: 450px) and (min-width: 1100px) {
  .basketPopup {
    min-height: 300px;
    padding: 50px 56px 40px 56px;
    &Close {
      width: 40px;
      position: absolute;
      top: 8px;
      right: 36px;
    }
  }
}
