@import '@/styles/functions';

.basketPopup {
  width: 1240px;
  padding: 79px 56px 74px 56px;
  background: #f8f7fa;
  border-radius: 20px;

  &Close {
    position: absolute;
    top: 23px;
    right: 46px;
  }
  &Product {
    position: relative;
    display: flex;
    column-gap: 24px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    padding: 24px 16px 24px 24px;
    &Title {
      color: rgba(28, 24, 23, 1);
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
    }
    &Code {
      margin-top: 8px;
      color: rgba(128, 128, 128, 1);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    &Quantity {
      display: flex;
      align-items: center;
      column-gap: 8px;
      width: fit-content;
      margin-top: 8px;
      button {
        cursor: pointer;
        background: transparent;
        border-radius: 50%;
        border: 1.5px solid rgba(28, 24, 23, 1);
        color: rgba(28, 24, 23, 1);
        width: 14px;
        height: 14px;
        display: grid;
        place-content: center;
        &:last-child {
          padding-bottom: 2px;
        }
      }
      > button:hover,
      > button:active {
        background-color: #00820d;
      }
      p {
        margin-top: 2px;
      }
    }
    &Price {
      color: rgba(28, 24, 23, 1);
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &Img {
    position: relative;
    width: 180px;
    height: 200px;
    display: grid;
    place-content: center;
  }
  &Added {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 24px;
  }

  &Info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &RemoveProduct {
    position: absolute;
    top: 16px;
    right: 16px;

    &:hover svg path,
    &:active svg path {
      stroke: #00820d;
    }

    &:hover svg path:last-child,
    &:active svg path:last-child {
      fill: #00820d;
    }
  }

  &Bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &ContinueShopping {
    padding: 14px 30px;
    box-sizing: initial;
    margin-left: auto;
    margin-right: 16px;
    color: var(--green-color);
    background-color: var(--white-color);
    border: 2px solid var(--green-color);
    font-weight: 500;
    line-height: 24px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: var(--white-color);
      background-color: var(--green-color);
    }
    &:active {
      color: #fff;
      background-color: #00680a;
    }
  }
  &GotoBasket {
    padding: 16px 34px;
    color: var(--white-color);
    background-color: var(--green-color);
    font-weight: 500;
    line-height: 24px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: #4da856;
    }
    &:active {
      background-color: #00680a;
    }
  }
}

@media screen and (max-height: 1150px) {
  .basketPopup {
    max-height: calc(100vh - 100px);
  }
}
