@import '@/styles/functions';

.basketItem {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  padding: 16px;
}

.product {
  &Img {
    display: block;
    // flex: 1;
    min-width: 180px;
    width: 180px;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &Info {
    margin: 0 auto 0 24px;
    display: flex;
    flex-direction: column;
  }
  &Title {
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    color: rgba(28, 24, 23, 1);
  }
  &Code {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
  }
  &Bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
    button {
      color: rgba(99, 99, 99, 1);
      cursor: pointer;
      background: transparent;
      border: none;
      display: flex;
      gap: 8px;
      align-items: center;
      > svg {
        width: 32px;
        height: 32px;
      }
      > span {
        line-height: 150%;
      }
    }
  }
  &Remove {
    &Mob {
      display: none;
    }
  }
  &Totals {
    margin-top: auto;
    min-width: 109px;
  }
  &Quantity {
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 16px;

    @media (width <= 680px) {
      gap: 10px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &Button {
      &_minus {
        &::before {
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url('../../assets/icons/button-minus.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          border: none;
          outline: none;
          transition: all 0.3s ease-in-out;
          content: '';

          @media (width <= 980px) {
            width: 24px;
            height: 24px;
          }

          @media (width <= 680px) {
            width: 30px;
            height: 30px;
          }
        }

        &:hover,
        &:focus,
        &:focus-visible {
          &::before {
            background-image: url('../../assets/icons/button-minus-hover.svg');
          }
        }
      }

      &_plus {
        &::before {
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url('../../assets/icons/button-plus.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          border: none;
          outline: none;
          transition: all 0.3s ease-in-out;
          content: '';

          @media (width <= 980px) {
            width: 24px;
            height: 24px;
          }

          @media (width <= 680px) {
            width: 30px;
            height: 30px;
          }
        }

        &:hover,
        &:focus,
        &:focus-visible {
          &::before {
            background-image: url('../../assets/icons/button-plus-hover.svg');
          }
        }
      }
    }
  }
  &Price {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: rgba(28, 24, 23, 1);
    text-align: right;
  }
}

@media (max-width: 992px) {
  .product {
    &Title {
      font-size: rem(20px);
      line-height: 22px;
      max-height: 48px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    &Price {
      font-size: rem(20px);
    }
  }
}

@media (max-width: 768px) {
  .basketItem {
    padding: 12.5px 12px;
  }
  .product {
    &Img {
      min-width: 56px;
      width: 56px;
      height: 56px;
      margin: auto 0;
    }
    &Price {
      font-size: 16px;
      line-height: 24px;
    }
    &Code {
      font-size: 12px;
      line-height: 18px;
    }
    &Bottom {
      button {
        font-size: 14px;
      }
    }
    &Remove {
      width: 24px;
    }
  }
}

@media (max-width: 576px) {
  .basketItem {
    position: relative;
    border-radius: 8px;
  }
  .product {
    &Img {
      min-width: 56px;
      width: 56px;
      height: 62px;
      margin: 0;
    }
    &Info {
      margin: 0 auto 0 8px;
    }
    &Bottom {
      button {
        position: absolute;
        top: 12px;
        right: 12px;
        span {
          display: none;
        }
      }
    }
    &Remove {
      display: none;
      &Mob {
        display: initial;
        width: 44px;
      }
    }
    &Totals {
      min-width: 80px;
    }
    &Quantity {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .mobilePopup {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #fff;
    box-shadow: 0 0 8px #0000001a;
    border-radius: 8px;
    .top {
      display: flex;
      gap: 8px;
      > img {
        width: 100px;
      }
      > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        // gap: 4px;
        flex-grow: 1;
        // margin-top: 5px;
      }
      > div:last-child {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        min-width: 115px;
        max-width: 120px;
      }
      .mobilePopupTitle {
        display: -webkit-box;
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: 400;
        color: #1c1817;
        line-height: 24px;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
      .mobilePopupCode {
        font-size: rem(16px);
        font-weight: 400;
        color: #808080;
        line-height: 150%;
      }
      .mobilePopupClose {
        align-self: flex-end;
        width: 44px;
        height: 44px;
        > img {
          text-align: end;
          width: 36px;
          height: 36px;
        }
      }
      .mobilePopupPrice {
        font-size: 16px;
        font-weight: 400;
        color: #1c1817;
        line-height: 150%;
        text-align: end;
      }
    }
    .devider {
      height: 1px;
      background-color: #eae4ee;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      > div:first-child {
        display: flex;
        align-items: center;
        gap: 10px;
        button {
          width: 48px;
          height: 48px;
        }
        > p {
          min-width: 12px;
          text-align: center;
          font-size: 16px;
        }
      }
      > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: #f8f7fa;
        border: none;
        border: 1px solid #eae4ee;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        // > svg {
        //   fill: #000;
        // }
        .likedIcon svg path:first-child,
        .likedIcon svg path:last-child {
          fill: rgba(111, 76, 154, 1);
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .mobilePopup {
    .top {
      > img {
        width: 90px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .mobilePopup {
    .top {
      gap: 8px;
      > img {
        margin-left: -5px;
        width: 80px;
      }
      // .mobilePopupTitle {
      //   font-size: rem(16px);
      // }
      .mobilePopupCode {
        font-size: rem(12px);
      }
      .mobilePopupClose {
        > img {
          width: 32px;
          height: 32px;
        }
      }
      // .mobilePopupPrice {
      //   font-size: rem(16px);
      // }
      // > div:last-child {
      //   min-width: 80px;
      //   max-width: 85px;
      // }
    }
    .bottom {
      > div:first-child {
        > button {
          width: 48px;
          height: 48px;
        }
      }
      button {
        width: 48px;
        height: 48px;
        // padding: 18px;
        // > span {
        //   svg {
        //     width: 30px;
        //     height: 30px;
        //   }
        // }
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .mobilePopup {
    .top {
      gap: 5px;

      .mobilePopupTitle,
      .mobilePopupPrice {
        font-size: rem(14px);
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .mobilePopup {
    gap: 5px;

    .bottom {
      > div:first-child {
        > button {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
