.bannerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;

  &Left {
    padding: 24px;
    background-color: #ffffff;

    &Item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 4px;
      color: var(--text-color);
      text-decoration: none;
      border-bottom: 1px solid #f0f0f0;

      &Right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        font-size: 24px;
      }
    }
  }
}
